div#{$isDialog} {
	@include setFlexibleBox(vertical,stretch,start);
	@include box-flex(1);
	text-align: center;
	&#{$isNotModal} {
		max-height: $default-dialog-maxheight;
	}

	> * { margin: 0; }

	> a, div, input	 { @include box-flex(1); }

	> *:not(:first-child) { margin-top: $default-content-spacing; }

	a {
		@include setFlexibleBox;
		@include box-flex(1);
	}

	h1 { font-size: 15px; }
	input { display: block; }

	.button-group + a,
	a + .button-group,
	.button-group + .button-group {
		margin-top: $default-action-spacing;
	}
}

div#{$isAction} {
	width: 100%;
	position: absolute;
	padding: $default-action-spacing;
	a { height: $default-action-button; }
	&.onTop    { top: 0; }
	&:not(.onTop) { bottom: 0; }
}

div#{$isAlert} {
	width: $default-alert-size;
	padding: $default-alert-spacing;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -($default-alert-size / 2);
	a { height: $default-alert-button; }
}

div#{$isModal} {
	position: absolute;
	top: $default-modal-spacing;
	bottom: $default-modal-spacing;
	left: $default-modal-spacing;
	right: $default-modal-spacing;
	.close {
		position: absolute;
		top: -10px;
		right: -10px;
		display: inline-block;
		padding: 5px 10px;
	}
}

div#{$isPopover} {
	//TODO Pasar calculos de la posicion de la flecha al JS 
	position: absolute;
	max-height: $default-dialog-maxheight;
	max-width: $default-dialog-maxwidth;

	$carret-front-size:     $default-popover-arrow;
	$carret-back-size:      $default-popover-arrow + $default-popover-border;

	$carret-front-position: -($carret-front-size * 2 - $default-popover-border);
	$carret-back-position:  -($carret-back-size * 2 - $default-popover-border);

	&:after,
	&:before {
		content: "";
		display: block;
		position: absolute;
		border-style: solid;
		border-color: transparent; 
		width: 0;
		height: 0;
	}
	&:after {
		border-width:   $carret-front-size;
	}
	&:before {
		border-width:   $carret-back-size;
	}

	&.onbottom,
	&.ontop {
		&:after  { left: 50%; margin-left: -($carret-front-size); }
		&:before { left: 50%; margin-left: -($carret-back-size);  }
	}
	&.onleft,
	&.onright {
		&:after  { top: 50%; margin-top:   -($carret-front-size); }
		&:before { top: 50%; margin-top:   -($carret-back-size);  }
	}

	&.onbottom {
		&:after  { top:    $carret-front-position; border-bottom-color:  red;   }
		&:before { top:    $carret-back-position;  border-bottom-color:  green; }
	}
	&.onleft {
		&:after  { right:  $carret-front-position; border-left-color:    red;   }
		&:before { right:  $carret-back-position;  border-left-color:    green; }
	}
	&.ontop {
		&:after  { bottom: $carret-front-position; border-top-color:     red;   }
		&:before { bottom: $carret-back-position;  border-top-color:     green; }
	}
	&.onright {
		&:after  { left:   $carret-front-position; border-right-color:   red;   }
		&:before { left:   $carret-back-position;  border-right-color:   green; }
	}
}






