//Forms

form {
  input[type="text"],
  input[type="password"],
  input[type="url"],
  input[type="email"],
  input[type="search"], 
  input[type="number"], 
  input[type="tel"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="time"],
  input[type="month"],
  input[type="week"] {
    -webkit-appearance: none;
  }
  //TODO: tratar de reemplazar tanto input type por el not:checkbox y radio. Por algun motivo esa solucion no esta funcionando
  input[type="text"],
  input[type="password"],
  input[type="url"],
  input[type="email"],
  input[type="search"], 
  input[type="number"], 
  input[type="tel"],
  input[type="range"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="time"],
  input[type="month"],
  input[type="week"],
  select {
    height: $default-header-button;
    padding: 0 $default-interface-spacing;
  }
  label {
    display: block;
  }
  .content {
    @include setFlexibleBox(vertical,stretch, center);
    min-height: 44px;
    padding: $default-interface-spacing;
    .aside {
      @include setFlexibleBox(vertical,stretch,center);
      width: 30%;
      text-align: right;
      padding-right: $default-interface-spacing * 2;
    }
    
    input[type="text"],
    input[type="password"],
    input[type="url"],
    input[type="email"],
    input[type="search"], 
    input[type="number"], 
    input[type="tel"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="time"],
    input[type="month"],
    input[type="week"],
    textarea, 
    select, {
      @include box-flex(1);
      display: block;
    }
    label, .slider    { @include box-flex(1); }
    textarea { min-height: 80px; padding: $default-interface-spacing; }
  }
  .horizontal { 
    @include setFlexibleBox(horizontal,center, stretch); 
    label {
      @include box-flex();
      //display: block;
      height: $default-header-button;
      line-height: $default-header-button;
        input {
          float: right;
          height: $default-header-button;
        }
    }
    .slider {
      @include box-flex(1)
    }
  }
  .start { @include setFlexibleBox(horizontal,start, stretch); }

}



