
form {
  input[type="text"],
  input[type="password"],
  input[type="url"],
  input[type="email"],
  input[type="search"],
  input[type="number"],
  input[type="tel"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="time"],
  input[type="month"],
  input[type="week"] {
    -webkit-appearance: none;
  }
  //TODO: tratar de reemplazar tanto input type por el not:checkbox y radio. Por algun motivo esa solucion no esta funcionando
  input[type="text"],
  input[type="password"],
  input[type="url"],
  input[type="email"],
  input[type="search"],
  input[type="number"],
  input[type="tel"],
  input[type="range"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="time"],
  input[type="month"],
  input[type="week"],
  select {
    height:  $default-header-button;
    padding: 0  $default-interface-spacing;
  }
  label {
    display:      block;
    line-height:  $default-header-button;
  }
  .content {
    @include setFlexibleBox(vertical,stretch, center);
    min-height: 44px;
    padding: $default-interface-spacing;
    i {
      @include square($default-tabbar-icon);
      line-height:  $default-tabbar-icon;
      font-size:    $default-tabbar-icon;
    }
    .aside {
      width: 30%;
      text-align: right;
      padding-right: $default-interface-spacing * 2;
    }
    input[type="text"],
    input[type="password"],
    input[type="url"],
    input[type="email"],
    input[type="search"],
    input[type="number"],
    input[type="tel"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="time"],
    input[type="month"],
    input[type="week"],
    textarea,
    select, {
      @include box-flex(1);
      display: block;
    }
    label, .slider { @include box-flex(1); }
    textarea {
      padding: $default-interface-spacing;
    }
  }
  .stack {
    label {
      line-height: normal;
      input, textarea, select { width: 100%; }
    }
  }
  .horizontal {
    @include setFlexibleBox(horizontal,center, stretch);
    @include clearfix;
    label {
      @include box-flex();
      @include clearfix;
      height:       $default-header-button;
      line-height:  $default-header-button;
        input {
          height:   $default-header-button;
          float:    right;
        }
        input[type="radio"], input[type="checkbox"] { margin-right: 1px; }
    }
    .slider { @include box-flex(1) }
    i {
      display:  block;
      float:    right;
    }
  }
  .start { @include setFlexibleBox(horizontal,start, stretch); }
}



