@import "../utilities";

//Lists  structural


ul[data-type="listview"] {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &.inset {
    margin: 10px;
  }

  li:not(.list-divider),
  li:not(.list-divider) > a {
    @include setFlexibleBox(horizontal,stretch, stretch);
    padding: $default-listview-spacing;
  }
  li:not(.list-divider) > a, {
    margin: -($default-listview-spacing);
  }

  li:not(.list-divider) {
    > div,
    a > div {

      margin-left: $default-listview-spacing;
      &:first-child {
        margin-left: 0 !important;
      }
    }
  }

  div {
    @include setFlexibleBox(vertical,stretch,center);
  }
  .nested {
    @include setFlexibleBox;
  }
  .vertical {
    @include setFlexibleBox(vertical,center,center);
    i, span {

      display: block;
    }
    * + * {
      margin-top: 7px;
    }
  }
  .up {
    @include box-pack(start);
  }
  .stretch {
    margin-top: -($default-listview-spacing);
    margin-bottom: -($default-listview-spacing);
    &:first-child { margin-left: -($default-listview-spacing) !important; }
  }

  .content {
    * {
      margin: 0;
      padding: 0;
    }
    > * + * {
      margin-top: 7px;
    }
  }

  .content,
  .nested > *:first-child,
  li > a {
    @include box-flex(1);
  }
  i {
    @include inline-block;
  }
  
  input {
    @include box-flex(1);
    display: block;
  }

} // UL


