/*
 * General
 */

header,
nav,
footer {

  /* box flex and center layout for container */
  @include setFlexibleBox;
  text-align: center;

  /* reset for item list */
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  /* vertical box flex layout for inner content */
  .content, > hgroup {
    @include setFlexibleBox(vertical,stretch);
  }

  /* box flex some content */
  .content, > hgroup, > h1, input, ul, li {
    @include box-flex(1);
    display: block;
  }

  /* spacing for content */
  .content, hgroup, .control-group {
    margin: 0 $default-interface-spacing;
  }
  > * + * {
    margin-left: 0 !important;
  }

  /* basic title format */
  h1 { font-size: 16px; }
  h2 { font-size: 13px; }

  i  { display: block; }

  a {
    @include setFlexibleBox;
  }
  a.onlyIcon {
    padding: 0 !important;
  }
  
}

/* Icon spacing in buttons */
header#{$isNotVertical},
nav#{$isNotTabbar},
footer#{$isNotTabbar} {
  i + span { margin-left: 5px; }
  span + i { margin-left: 5px; }
}


header#{$isNotVertical} {
  i               { @include square($default-header-icon); }
  /* Format fot buttons and input for non vertical header */
  a, input {
    height:        $default-header-button;
    margin:      0 $default-interface-spacing;
  }
  a {
    padding:     0 $default-interface-spacing;
  }
}
header#{$isVertical} {
  i           { @include square($default-header-vertical-icon); }
  //.onlyIcon i { @include square($default-header-vertical-button); }
  /* Format fot buttons for vertical header */
  a {
    width:         $default-header-vertical-button;
    margin:        $default-header-vertical-spacing;
    padding:       $default-header-vertical-spacing;
  }
}

nav,
footer {
  i { @include square($default-navbar-icon); }
  //.onlyIcon i { @include square($default-navbar-button); }
  &#{$isToolbar} {
    /* Format fot buttons and inputs for toolbars */
    a, input {
      height:        $default-navbar-button;
      margin:      0 $default-interface-spacing;
    }
    a {
      padding:     0 $default-interface-spacing;
      // TODO: si tiene un <i> dentro del a tiene que cambiar display:block; por display:box;
      //display:       block;
    }
  }
  &#{$isTabbar} {
    i { @include square($default-tabbar-icon); }
    /* Vertical align for elements in tabbar */
    a { @include box-orient(vertical); }
  }
  /* Format fot buttons and inputs for toolbars */
  &#{$isTabbar},
  &#{$isNormal} {
    @include box-align(stretch);
    ul, li { @include setFlexibleBox(horizontal, stretch); }
    a { @include box-flex(1); }
  }
}


.titleOnLeft {
  * {
    @include box-ordinal-group(2);
  }
  > h1, hgroup, .content {
    @include box-ordinal-group(1);
    @include box-align(start); 
    padding-left: $default-interface-spacing;
    text-align: left;
  }
}




/*
header,
nav,
footer {
  h1, h2, li, a {
    @include ellipsis;
  }
  
  > .title {
    width: 100%;
  }
  input {
    position: relative;
    display: block;
    &[data-icon] {
      &:after {
        @include square($default-navbar-icon);
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -($default-navbar-icon / 2);
      }
    }
  }
  
}
*/

