.badge {
  padding: $default-badge-spacing !important;
}



.flex {
  @include box-flex(1);
}
.fix {
  //width: ;
}

.list-divider {
  padding: 5px;
  font-size: 11px;
  @include background(linear-gradient(top, #d7d7d7, #c6c6c6));
  color: #444;
  text-transform: uppercase;
}

.button-group,
.control-group {
  @include setFlexibleBox;
  @include box-flex(0);
  a {
    @include box-flex(1);
  }
}

.control-group {
  a {
    margin: 0 !important;
  }
  &.autoWidth {
    @include box-flex(1);
  }
}

.button-group {
  a {
    margin-right: $default-content-spacing;
    &:last-child {
      margin-right: 0;
    }
  }
  &.alignVertical {
    @include box-orient(vertical);
    @include box-align(stretch);
    a:not(:last-child) {
      margin-right: 0;
      margin-bottom: $default-content-spacing;
    }
  }
}





.loader {
  width: 220px;
  height: 10px;
  margin: 0 auto;
  padding: 1px;
  background-color: grey;
  .progress {
    width: 0;
    min-width: 10px;
    max-width: 100%;
    height: 100%;
  }
  * + & {
    margin-top: 5px;
  }
}




//Forms

input[type="text"],
input[type="password"],
input[type="url"],
input[type="email"],
input[type="search"], 
input[type="number"], 
input[type="tel"] {
  height: $default-header-button;
}
input,
textarea {
  border: 1px solid #ccc;
}



form {
  .content {
    @include setFlexibleBox(horizontal,stretch, stretch);
    padding: $default-interface-spacing;
    .aside {
      @include setFlexibleBox(vertical,stretch,center);
      width: 30%;
      text-align: right;
      padding-right: $default-interface-spacing * 2;
    }
    .start {
      @include setFlexibleBox(vertical,stretch,start);
    }
    input, textarea {
      @include box-flex(1);
      display: block;
    }
    label {
      display: block;
      margin-bottom: $default-interface-spacing;
    }
    textarea {
      min-height: 80px;
    }
  }
  .content.vertical{
    @include setFlexibleBox(vertical,stretch, stretch);
  }
}




/*
header#{$isNotVertical},
nav#{$isToolbar},
footer#{$isToolbar} {
  a {
    font-size: 12px;
  }
  > a + a {
    margin-left: 0px;
  }
  input[type="search"] {
    @include box-flex(1);
    display: block;
  }
  input[type="search"] + a {
    margin-left: 0 !important;
  }
}









.message {
  i {
    @include inline-block;
    width: 16px;
    height: 16px;
    margin: -2px 5px 0 0;
    //TODO: delete, it's only for debug
    @include border-radius(100%);
    border: 3px solid #666;
  }
}



*/










