.badge {
  padding: $default-badge-spacing !important;
}



.flex {
  @include box-flex(1);
}
.fix {
  //width: ;
}

.list-divider {
  padding: 5px;
  font-size: 11px;
  @include background(linear-gradient(top, #d7d7d7, #c6c6c6));
  color: #444;
  text-transform: uppercase;
}

.button-group,
.control-group {
  @include setFlexibleBox;
  @include box-flex(0);
  a {
    @include box-flex(1);
  }
}

.control-group {
  a {
    margin: 0 !important;
  }
  &.autoWidth {
    @include box-flex(1);
  }
}

.button-group {
  a {
    margin-right: $default-content-spacing;
    &:last-child {
      margin-right: 0;
    }
  }
  &.alignVertical {
    @include box-orient(vertical);
    @include box-align(stretch);
    a:not(:last-child) {
      margin-right: 0;
      margin-bottom: $default-content-spacing;
    }
  }
}


.slider {
  @include border-radius(1em);
  position: relative;
  overflow: visible;
  margin: 0 3px;
  height: 8px;
  padding: 0;
  z-index: 0;
    a {
      @include border-radius(1em);
      position: absolute;
      z-index: 1;
      top: 50%;
      width: 18px;
      height: 18px;
      margin-top: -9px;
      margin-left: -8px;
    }
    a.mini {
      width: 14px;
      height: 14px;
      margin-top: -7px;
      margin-left: -7px;
    }
}



.loader {
  width: 220px;
  height: 10px;
  margin: 0 auto;
  padding: 1px;
  background-color: grey;
  .progress {
    width: 0;
    min-width: 10px;
    max-width: 100%;
    height: 100%;
  }
  * + & {
    margin-top: 5px;
  }
}


.toggle-content {
  background-color: #666;
  border: 1px solid #333;
  height: 32px;
  width: 80px;
  position: relative; 
  input[type="checkbox"] {
    display: none;
  }
  &:before, &:after { line-height: 32px; color: #fff;}
  &:before {
    content: "ON";
    padding-left: 9px;
  }
  &:after {
    content: "OFF";
    padding-left: 12px;
  }
  label {
    display: block;
    height: 30px;
    width: 40px;
    position: absolute;
    top: 0;
    background-color: #fff;
  }
}






/*
header#{$isNotVertical},
nav#{$isToolbar},
footer#{$isToolbar} {
  a {
    font-size: 12px;
  }
  > a + a {
    margin-left: 0px;
  }
  input[type="search"] {
    @include box-flex(1);
    display: block;
  }
  input[type="search"] + a {
    margin-left: 0 !important;
  }
}









.message {
  i {
    @include inline-block;
    width: 16px;
    height: 16px;
    margin: -2px 5px 0 0;
    //TODO: delete, it's only for debug
    @include border-radius(100%);
    border: 3px solid #666;
  }
}

.toggle-content {
  position: relative;
  width: 96px;
  height: $default-header-button;  
  .toggle-switch {
    -webkit-appearance:none;    
    outline: none;
    width: 96px;
    height: $default-header-button;  
    position: relative;
    border: 0;
    &:before, &:after {
      text-align: center;    
      position: absolute;
      width: 30px;
      height: $default-header-button - 2;
      line-height: $default-header-button;
      z-index: 1;    
      top: 1px;    
      border: 1px solid #888;
    }
    &:after {
      content: attr(data-icon1);
      left: 1px;
    }
    &:before {
      content: attr(data-icon2);
      right: 1px;
      padding-left: 10px;
    }
    &:checked:after { 
      padding-right: 20px;
    }
    &:before, &:checked:after {
      text-indent: 0;
      background-color: #ccc;
      width: 70px;
      z-index: 0;
    }
    &:after, &:checked:before {
      background: #fff;    
      text-indent: -9999px;
      z-index: 2;
      width: 30px;
    }
  }

}

*/









