= content_for :title do
	Form Elements Demo

= content_for :principal do

	%div.a{"role" => "main"}

		%header
			%a{:href => "listview.html"} Lists
			%hgroup
				%h1 COOLSTRAP
				%h2 Form Elements Demo
			%a Entrar
		%footer
			%a Button
			%a Button
			%a Button
			%a Button
			%a Button	

		%section.current
			%nav{"data-type" => "toolbar"}
				%input{:type => "text"}
				%a search


			%article.scrollable
				%form
						
					%h1 Con porcentajes		
					.content
						.aside Name
						%input{:type => "text"}	
					.content
						.aside Phone
						%input{:type => "text"}	
					.content
						.aside Larger Adress
						%input{:type => "text"}	
					.content
						.aside Tomatican con pollo y mermelada de palta
						%input{:type => "text"}		
					.content
						.aside.start Tomatican 
						%textarea					


					%h1 Label encima
					.content.vertical
						%label Name
						%input{:type => "text"}	
					.content.vertical
						%label Phone
						%input{:type => "text"}	
					.content.vertical
						%label Atun palta
						%input{:type => "text"}	
					.content.vertical
						%label Minicomponente
						%textarea						

				

	%aside{"data-type" => "onLeft"}

	%aside{"data-type" => "onRight"}

	%aside{"data-type" => "onTop"}

	%aside{"data-type" => "onBottom"}
= content_for :application_js do  
	%script{:src => "app/app.js", :type=> "text/javascript"}
	%script{:src => "app/events.js", :type=> "text/javascript"}	