= content_for :title do
	Form Elements Demo

= content_for :principal do

	%div.a{"role" => "main"}

		%header
			%a{:href => "listview.html"} Lists
			%hgroup
				%h1 COOLSTRAP
				%h2 Form Elements Demo
			%a Entrar
		%footer
			%a Button
			%a Button
			%a Button
			%a Button
			%a Button	

		%section.current
			%nav{"data-type" => "toolbar"}
				%input{:type => "text"}
				%a search


			%article.scrollable
					
				%h1 Radio y checkbox
				%form.inset
					.content.horizontal
						%p 0:00
						.slider
							%a.mini
						%p -30:35	
					.content.horizontal
						.slider
							%a	
					.content
						%label 
							%input{:type => "checkbox"}	
							Atun palta
					.content
						%label 
							%input{:type => "checkbox"}	
							Atun palta		
				
					.content
						%label 
							%input{:type => "radio", :name => "radio"}	
							Atun palta
					.content
						%label 
							%input{:type => "radio", :name => "radio"}	
							Atun palta

				%h1 horizontales			
				%form.inset
					.content.horizontal
						%label 
							Atun palta
						%input{:type => "radio", :name => "radio"}	
					.content.horizontal
						%label 
							Riquitiqui					
						%input{:type => "radio", :name => "radio"}	

					

				%form.inset
					.content.horizontal
						%label 
							Atun palta
						%input{:type => "checkbox"}	
					.content.horizontal
						%label 
							Atun palta
						%input{:type => "checkbox"}	
					.content.horizontal
						%label 
							Marque si le gusta la gasolina					
						.toggle-content
							%input.toggle-switch{:type => "checkbox", "data-icon1" => "chai", "data-icon2" => "holi"}			
						
				

				%h1 Con porcentajes		
				%form.inset	
					.content.horizontal
						.aside Name
						%input{:type => "text"}	
					.content.horizontal
						.aside Phone
						%input{:type => "text"}	
					.content.horizontal
						.aside Larger Adress
						%input{:type => "text"}	
					.content.horizontal.start
						.aside Tomatican con pollo y mermelada de palta
						%input{:type => "text"}
					.content.horizontal.start
						.aside Tomatican 
						%textarea	
					.content.horizontal
						.aside Tomatican 
						%select
							%option{:value => "option 1"}	option 1					
							%option{:value => "option 2"}	option 2					
							%option{:value => "option 3"}	option 3					


				%h1 Label encima
				%form.inset
					.content
						%label Name
						%input{:type => "text"}	
					.content
						%label Phone
						%input{:type => "text"}	
					.content
						%label Atun palta
						%input{:type => "text"}	
					.content
						%label Minicomponente
						%textarea	

					.content
						%label Tomatican 
						%select
							%option{:value => "option 1"}	option 1					
							%option{:value => "option 2"}	option 2					
							%option{:value => "option 3"}	option 3	

				

													

				

	%aside{"data-type" => "onLeft"}

	%aside{"data-type" => "onRight"}

	%aside{"data-type" => "onTop"}

	%aside{"data-type" => "onBottom"}
= content_for :application_js do  
	%script{:src => "app/app.js", :type=> "text/javascript"}
	%script{:src => "app/events.js", :type=> "text/javascript"}	