= content_for :title do
	Listview Demo

= content_for :principal do

	%div{"role" => "main"}
		
		%header
			%a{:href => "simple.html"} Inicio
			%hgroup
				%h1 COOLSTRAP
				%h2 Listview Demo
			%a{:href => "formelements.html"} Forms
			
		%footer
			%a Button
			%a Button
			%a Button
			%a Button
			%a Button
			
		%section{:id => "home", :class => "current"}

			%article{:id => "demo", :class => "current"}
				
				.scroller

					= partial "examples/components/listview/simplelist" 
					= partial "examples/components/listview/nestedlist" 

 




						

																		

					


						
										













































		

