= content_for :title do
	Tabbars markup

= content_for :principal do

	%div.a{"role" => "main"}

		%header
			%a Volver
			%hgroup
				%h1 COOLSTRAP
				%h2 Tabbar
			%a Entrar

		%footer{"data-type" => "tabbar"}
			%a
				%i
				Boton 5
			%a
				%i
				Boton 5
			%a
				%i
				Boton 5
			%a
				%i
				Boton 5
			%a
				%i
				Boton 5

		%section.current

			%nav
				%a Boton 1
				%a Boton 2
				%a Boton 3
				%a Boton 4
				%a Boton 5

			%article.current{:id => "demo"}
				.scroller
					
					%nav
						%a
							%i
							%span boton 1
						%a
							%i
							%span boton 1
						%a
							%span boton 1
							%i
						%a
							%span boton 1
							%i

					%h2.list-divider Tabbar with ul only text
					%nav{"data-type" => "tabbar"}
						%ul
							%li
								%a Boton 1
							%li
								%a Boton 2
							%li
								%a Boton 3
							%li
								%a Boton 4
							%li
								%a Boton 5

					%h2.list-divider Tabbar without ul only text
					%nav{"data-type" => "tabbar"}
						%a Boton 1
						%a Boton 2
						%a Boton 3
						%a Boton 4
						%a Boton 5

					%h2.list-divider Tabbar with ul only icon
					%nav{"data-type" => "tabbar"}
						%ul
							%li
								%a
									%i
							%li
								%a
									%i
							%li
								%a
									%i
							%li
								%a
									%i
							%li
								%a
									%i

					%h2.list-divider Tabbar without ul with icon
					%nav{"data-type" => "tabbar"}
						%a
							%i
						%a
							%i
						%a
							%i
						%a
							%i
						%a
							%i

					%h2.list-divider Tabbar with ul with icon
					%nav{"data-type" => "tabbar"}
						%ul
							%li
								%a
									%i
									Boton 5
							%li
								%a
									%i
									Boton 5
							%li
								%a
									%i
									Boton 5
							%li
								%a
									%i
									Boton 5
							%li
								%a
									%i
									Boton 5

					%h2.list-divider Tabbar without ul with icon
					%nav{"data-type" => "tabbar"}
						%a
							%i
							Boton 5
						%a
							%i
							Boton 5
						%a
							%i
							Boton 5
						%a
							%i
							Boton 5
						%a
							%i
							Boton 5

					

	%aside{"data-type" => "onLeft"}

	%aside{"data-type" => "onRight"}

	%aside{"data-type" => "onTop"}

	%aside{"data-type" => "onBottom"}
= content_for :application_js do  
	%script{:src => "app/app.js", :type=> "text/javascript"}
	%script{:src => "app/events.js", :type=> "text/javascript"}	