@import "../utilities";

ul {
  li              { z-index: 1; }
  li.is-active    { z-index: 2; }
  li.list-divider { z-index: 3; }
}

ul[data-type="listview"] {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li,
  li > a {
    @include setFlexibleBox(horizontal,stretch, stretch);
    padding: $default-listview-spacing;
  }
  li > a, {
    margin: -($default-listview-spacing);
  }

  li {
    > div,
    a > div,
    .nested > div {
      margin-left: $default-listview-spacing;
      &:first-child {
        margin-left: 0;
      }
    }
  }

  div {
    @include setFlexibleBox(vertical,stretch,center);
  }
  .nested {
    @include setFlexibleBox;
  }
  .content {
    * {
      margin:   0;
      padding:  0;
    }
    > * + * {
      margin-top: 7px;
    }
  }
  .content,
  .nested > *:first-child,
  li > a {
    @include box-flex(1);
  }
  i { @include inline-block; }
  input {
    @include box-flex(1);
    display: block;
  }
  /*
  .aside {
    * + i { margin-left: $default-interface-spacing; }
  }
  */

  &.inset {
    margin: 10px;
  }
  .up { @include box-pack(start); }
  .stretch {
    margin-top:     -($default-listview-spacing);
    margin-bottom:  -($default-listview-spacing);
    &:first-child { margin-left: -($default-listview-spacing) !important; }
  }
  .vertical {
    @include setFlexibleBox(vertical,center,center);
    i, span {
      display: block;
    }
    * + * {
      margin-top: 7px;
    }
  }
}


