/**
 * Navigation layout for <header>, <nav> and <footer> and your content
 *
 * @header
 *   not support any [data-type]
 *
 * @nav
 *   have [data-type="navbar"] by default
 *   and support [data-type="tabbar"] and [data-type="toolbar"]
 *
 * @footer
 *   have [data-type="toolbar"] by default
 *   and support [data-type="tabbar"] and [data-type="navbar"]
 *
 * @author Cristian Ferrari <cristianferrarig@gmail.com> || @energettico
 */


// Global header, nav and footer styles
header,
nav,
footer {

  // box flex and center layout for container
  @include setFlexibleBox;
  text-align: center;

  // reset for item list
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  // vertical box flex layout for inner content
  .content, > hgroup {
    @include setFlexibleBox(vertical,stretch);
  }

  // box flex some content
  .content, > hgroup, > h1, input, ul, li {
    @include box-flex(1);
    display: block;
  }

  // spacing for content
  .content, hgroup, .control-group {
    margin: 0 $coolstrap-interface-spacing;
  }
  > * + * {
    margin-left: 0 !important;
  }

  // basic title format
  h1 { font-size: 16px; }
  h2 { font-size: 13px; }

  i  { display: block; }

  a  { @include setFlexibleBox; }

}

// Icon spacing in buttons
header#{$isNotType},
nav#{$isNotTabbar},
footer#{$isNotTabbar} {
  i + span { margin-left: 5px; }
  span + i { margin-left: 5px; }
}


header#{$isNotType} {
  i {
    @include square($coolstrap-header-icon);
    line-height:    $coolstrap-header-icon;
    font-size:      $coolstrap-header-icon;
  }
  // Format fot buttons and input for non vertical header
  a, input {
    height:         $coolstrap-header-button;
    margin:      0  $coolstrap-interface-spacing;
  }
  a {
    padding:     0  $coolstrap-interface-spacing;
  }
  .control-group {
    height:         $coolstrap-header-button;
    a { height: auto !important; }
  }

  &.fullButtons {
    a {
      height: $coolstrap-header-size;
      padding: 0 $coolstrap-interface-spacing * 2;
      margin: 0;
    }
    > a + a {
      border-left: 0 !important;
    }
  }

  &.titleOnLeft {
    * { @include box-ordinal-group(2); }

    > h1, hgroup, .content {
      @include box-ordinal-group(1);
      @include box-align(start);
      padding-left: $coolstrap-interface-spacing;
      text-align: left;
    }
  }

}



// Navbar
nav#{$isNotType},
nav#{$isNavbar},
footer#{$isNavbar} {
  i {
    @include square($coolstrap-navbar-icon);
    line-height:    $coolstrap-navbar-icon;
    font-size:      $coolstrap-navbar-icon;
  }
}

// Toolbar
nav#{$isToolbar},
footer#{$isNotType},
footer#{$isToolbar} {
  // Format fot buttons and inputs for toolbars
  a, input {
    height:        $coolstrap-toolbar-button;
    margin:      0 $coolstrap-interface-spacing;
  }
  a {
    padding:     0 $coolstrap-interface-spacing;
  }
  .control-group {
    height:        $coolstrap-toolbar-button;
    a { height: auto !important; }
  }
}

// Tabbar
nav#{$isTabbar},
footer#{$isTabbar} {
  i {
    @include square($coolstrap-tabbar-icon);
    line-height:    $coolstrap-tabbar-icon;
    font-size:      $coolstrap-tabbar-icon;
  }
  // Vertical align for elements in tabbar
  a { @include box-orient(vertical); }
}

// Navbar and Tabbar
nav#{$isNotType},
nav#{$isNavbar},
footer#{$isNavbar},
nav#{$isTabbar},
footer#{$isTabbar} {
  @include setFlexibleBox(horizontal, stretch);
  // Format fot buttons and inputs for toolbars
  ul, li { @include setFlexibleBox(horizontal, stretch); }
  a { @include box-flex(1); }
}



/*
header,
nav,
footer {
  h1, h2, li, a {
    @include ellipsis;
  }

  > .title {
    width: 100%;
  }
  input {
    position: relative;
    display: block;
    &[data-icon] {
      &:after {
        @include square($coolstrap-navbar-icon);
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -($coolstrap-navbar-icon / 2);
      }
    }
  }

}
*/



