@import "../utilities";


a {
	display: block;

	header[data-type="extended"] &,
	header:not([data-type="vertical"]) & {
		height:        $default-header-button-size;
		line-height:   $default-header-button-size;
		margin:      0 $default-button-spacing;
		padding:     0 $default-button-spacing;
	}
	header[data-type="vertical"] & {
		width:         $default-headerV-button-size;
		margin:        $default-headerV-button-spacing;
		padding:       $default-headerV-button-spacing;
	}

	nav:not([data-type]) &,
	footer:not([data-type]) & {
		height:        $default-nav-size;
		line-height:   $default-nav-size;
		@include box-flex(1);
	}
	nav[data-type="toolbar"] &,
	footer[data-type="toolbar"] & {
		height:        $default-nav-button-size;
		line-height:   $default-nav-button-size;
		margin:      0 $default-button-spacing;
		padding:     0 $default-button-spacing;
	}

	.controlgroup & {
		margin: 0 !important;
	}

}

li {
	nav[data-type="tabbar"] &, 
	footer[data-type="tabbar"] & {
		height:        $default-tabbar-button-size;
		margin:      0 $default-tabbar-button-spacing;
		padding:     0 $default-tabbar-button-spacing;
	}
}

header[data-type="extended"],
header:not([data-type="vertical"]),
nav[data-type="toolbar"],
nav[data-type="tabbar"] {
	a {
		@include setFlexibleBox;
		& + a {
			margin-left: 0px;
		}
		i, span { display: block; }
		i {
			@include border-radius(100%);
			background-color: red;
		}
	}
}


header[data-type="extended"],
header:not([data-type="vertical"]),
[data-type="toolbar"] {
	a {
		i {
			@include square($default-nav-icon-size);
		}
	}
}

/*
[data-type="tabbar"] {
	a {
		@include box-flex(1);
		i {
			@include square($default-tabbar-icon-size);
		}
	}
}
*/


