@import "../utilities";

.flex {
  @include box-flex(1);
}

.controlgroup {
  font-size: 0px;
  text-align: center;
  a {
    //@include setButton;
    @include inline-block;
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-size: 12px;
    &:first-child {
      margin-left: 7px !important;
    }
    &:last-child {
      margin-right: 7px !important;
    }
  }
  .content & {
    width: 100%;
  }
}

.message {
  i {
    @include inline-block;
    width: 16px;
    height: 16px;
    margin: -2px 5px 0 0;
    // TOTO: delete, it's only for debug
    @include border-radius(100%);
    border: 3px solid #666;
  }
}


header,
nav,
footer {
  @include setFlexiblebox;
  text-align: center;

  h1, h2, li, a {
    @include ellipsis;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  h1 {
    font-size: 16px;
  }
  h2 {
    font-size: 13px;
  }
}

nav, footer {
  ul {
    @include setFlexiblebox;
  }
  ul, li {
    @include box-flex(1);
  }
}

header:not([data-type="vertical"]),
nav[data-type="toolbar"],
footer[data-type="toolbar"] {
  .content {
    @include setFlexiblebox;
  }
  > hgroup {
    @include setFlexiblebox(vertical);
  }
  .content,
  > hgroup,
  > h1 {
    @include box-flex(1);
  }
  > hgroup {
    line-height: 16px;
  }
}


@mixin setNavigationHeight($navigation-size) {
  > h1,
  .message {
    line-height: $navigation-size;
  }
  > hgroup {
    padding: (($navigation-size - 32px) / 2) 0;
  }
  .controlgroup {
    max-height: $navigation-size;
  }
}

@mixin setInput($size, $spacing) {
  $height: $size - ($spacing * 2);
  height: $height;
  margin: $spacing;
}

@mixin setButton($size, $spacing, $type: $default-button-type) {
  @if $type == spacing {
    $height: $size - ($spacing * 2);
    height: $height;
    margin: $spacing;
    line-height: $height;
    padding: 0 10px;
  }
  @if $type == full {
    height: $size;
    line-height: $size;
    padding: 0 20px;
  }
  @include inline-block;
  outline: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
}



header {
  //@include setNavigationHeight($default-header-size);
  input[type="search"] {
    @include setInput($default-header-size, $default-header-spacing);
  }
}
nav {
  //@include setNavigationHeight($default-nav-size);
}
footer {
  //@include setNavigationHeight($default-footer-size);
}
nav[data-type="toolbar"],
footer[data-type="toolbar"] {
  //@include setNavigationHeight($default-toolbar-size);
  input[type="search"] {
    @include setInput($default-toolbar-size, $default-toolbar-spacing);
  }
  a {
    @include setButton($default-toolbar-size, $default-toolbar-spacing);
  }
}
header:not([data-type="vertical"]) {
  a {
    @include setButton($default-header-size, $default-header-spacing);
  }
}
nav[data-type="tabbar"],
footer[data-type="tabbar"] {
  //@include setNavigationHeight($default-tabbar-size);
}





header:not([data-type="vertical"]),
nav[data-type="toolbar"],
footer[data-type="toolbar"] {
  a {
    font-size: 12px;
  }
  > a + a {
    margin-left: 0px;
  }

  input[type="search"] {
    @include box-flex(1);
    //@include setInput;
    display: block;
    //margin: $default-header-spacing;
  }
  input[type="search"] + a {
    margin-left: 0 !important;
  }
}
 


nav,
footer {
  &:not([data-type]),
  &[data-type="tabbar"] {
    >a {
      @include box-flex(1);
      display: block;
    }
  }
  footer,
  header,
  &:not([data-type]),
  &[data-type="toolbar"] {
    
  }
  &:not([data-type]) {
    a {
      //line-height: $default-nav-size;
    }
  }
  &[data-type="tabbar"] {
    a {
      padding: $default-tabbar-spacing;
    }
  }

  span {
    font-size: 11px;
  }
}




