@import "../utilities";

* {
  @include box-shadow(0 0 0 1px $debugBgColor)
}

//Navs
nav {
  line-height: $default-nav-size;
  ul {
    height: $default-nav-size;
    li {
      text-align: center;
      &:last-child {
        border-right: 0;
      }
    }
    a {
      @include ellipsis;
      padding: 0 10px;
      display: block;
    }
  }
  .no-flexbox:not([class*="flexbox"]) & {
    width: 100%;
    display: table;
    ul {
      width: 100%;
      display: table-row;
      li {
        display: table-cell;
      }
    }
  }
  .flexbox-legacy &,
  .flexbox & {
    ul {
      @include setFlexiblebox;
      li {
        @include box-flex(1);
      }
    }
  }
}
nav[data-type="tabs"] {
  line-height: 17px;
  ul {
    height: $default-tabbar-size;
  }
  a {
    .icon {
      margin-top: 3px;
      height: 30px;
    }
  }
}
nav[data-type="tabs-icon"] {
  ul {
    height: 35px;
  }
  a {
    .icon {
      margin-top: 3px;
      height: 30px;
    }
  }
}           
nav[data-type="mixed"] {
  line-height: 35px;
  ul {
    height: 35px;
    li {
      &:first-child {
        @include box-flex();
      }
      &:last-child {
        @include box-flex();
      }
    }
  }
}

//Lists

ul[data-type="listview"] {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li, li > a {
    @include setFlexiblebox;
    > .content {
      padding: 10px;
    }
  }
  li {
    border-bottom: 1px solid $debugBgColor;
  }
  .content {
    @include box-flex(1);
  }
  .nested {
    @include setFlexiblebox;
  }
  .title:not(.nested),
  .title.nested .content {
    @include ellipsis;
    font-size: 20px;
  }
}









