@import "../utilities";

//Lists  structural
ul[data-type="listview"] {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li, li > a {
    @include setFlexibleBox(horizontal,stretch);
    //@include box-align(start);
    //@include box-pack(start);
    > .content {
    }
  }
  li {
    padding: $default-listview-spacing;
    > div {
      @include setFlexibleBox(vertical,stretch,center);
      margin-left: $default-listview-spacing;
      &:first-child {
        margin-left: 0px;
      }
      &.picture-up {
        @include box-pack(start);
      }
      &.stretch-pic {
        margin-top: -($default-listview-spacing);
        margin-bottom: -($default-listview-spacing);
      }
      &.stretch-pic {
        &:first-child { margin-left: -($default-listview-spacing) !important; }
      }
    }
    .content,
    .desc,
    .nested {
      @include box-flex(1);
    }
    .nested {
      @include setFlexibleBox;
      .title {
        @include box-flex(1);
      }
    }
    //.nested .content,
    .title {
      @include ellipsis;
      display: block;
    }
    .nested + .nested,
    .nested + .desc,
    .title + .desc {
      padding-top: 7px
    }
    i {
      @include inline-block;
    }
    span {
      vertical-align: middle;
    }
  }
}


.badge {
  padding: 3px 5px;
}