@import "../utilities";

header,
nav,
footer {
  @include setFlexibleBox;
  text-align: center;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  ul, li {
    @include box-flex(1);
  }
  h1, h2, li, a {
    @include ellipsis;
  }
  a {
    @include setFlexibleBox(vertical, center);
  }
  a.onlyIcon {
    padding: 0 !important;
  }
  > * + * {
    margin-left: 0 !important;
  }
  h1 {
    font-size: 16px;
  }
  h2 {
    font-size: 13px;
  }
  i {
    display: block;
  }
  .content {
    @include setFlexibleBox(vertical);
  }
  > hgroup {
    @include setFlexibleBox(vertical);
  }
  .content,
  > hgroup,
  > h1 {
    @include box-flex(1);
  }
  > hgroup {
    line-height: 16px;
  }
  .content,
  hgroup,
  .control-group {
    margin: 0 $default-interface-spacing;
  }
}



header {
  &#{$isNotVertical} {
    a {
      height:        $default-header-button;
      margin:      0 $default-interface-spacing;
      padding:     0 $default-interface-spacing;
    }
  }
  &#{$isVertical} {
    a {
      width:         $default-header-vertical-button;
      margin:        $default-header-vertical-spacing;
      padding:       $default-header-vertical-spacing;
    }
  }
}
nav,
footer {
  &#{$isToolbar} {
    a {
      @include box-orient; 
      height:        $default-navbar-button;
      line-height:   $default-navbar-button;
      margin:      0 $default-interface-spacing;
      padding:     0 $default-interface-spacing;
      //display:       block;
      // TODO: si tiene un <i> dentro del a tiene que cambiar display:block; por display:box;
    }
    i + span { margin-left:  5px; }
    span + i { margin-left: 5px; }
  }
}



header {
  &#{$isNotVertical} i { @include square($default-header-icon); }
  &#{$isVertical} i    { @include square($default-header-vertical-icon); }
}
nav,
footer {
  &#{$isToolbar} i     { @include square($default-navbar-icon); }
  &#{$isTabbar} i      { @include square($default-tabbar-icon); }
}




.titleOnLeft {
  * {
    @include box-ordinal-group(2);
  }
  > h1, hgroup, .content {
    @include box-ordinal-group(1);
    @include box-align(start); 
    padding-left: $default-interface-spacing;
    text-align: left;
  }
}

nav, footer {
  &#{$isTabbar},
  &#{$isNormal} {
    @include box-align(stretch);
    ul, li {
      @include setFlexibleBox(horizontal, stretch);
    }
    a {
      @include box-flex(1);
    }
  }
}





.flex {
  @include box-flex(1);
}
.fix {
  //width: ;
}

.list-divider {
  padding: 5px;
  font-size: 11px;
  @include background(linear-gradient(top, #d7d7d7, #c6c6c6));
  color: #444;
  text-transform: uppercase;
}

.control-group {
  @include setFlexibleBox;
  @include box-flex(0);
  a {
    @include box-flex(1);
    margin: 0 !important;
  }
  &.autoWidth {
    @include box-flex(1);
  }
}


.loader {
  width: 220px;
  height: 10px;
  padding: 1px;
  background-color: grey;
  .progress {
    width: 0;
    min-width: 10px;
    max-width: 100%;
    height: 100%;
  }
  * + & {
    margin-top: 5px;
  }
}



.control-group {
  //margin: 0 $default-button-spacing;
  a {
    &:first-child {
      @include border-radius(5px 0px 0px 5px);
    }
    &:last-child {
      @include border-radius(0px 5px 5px 0px);
    }
  }
}






/*
header#{$isNotVertical},
nav#{$isToolbar},
footer#{$isToolbar} {
  a {
    font-size: 12px;
  }
  > a + a {
    margin-left: 0px;
  }
  input[type="search"] {
    @include box-flex(1);
    display: block;
  }
  input[type="search"] + a {
    margin-left: 0 !important;
  }
}





.message {
  i {
    @include inline-block;
    width: 16px;
    height: 16px;
    margin: -2px 5px 0 0;
    // TOTO: delete, it's only for debug
    @include border-radius(100%);
    border: 3px solid #666;
  }
}



*/

