@import "../utilities";

header,
nav,
footer {
  @include setFlexibleBox;
  text-align: center;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  ul, li {
    @include box-flex(1);
  }
  h1, h2, li, a {
    @include ellipsis;
  }
  a {
    @include setFlexibleBox;
  }
  h1 {
    font-size: 16px;
  }
  h2 {
    font-size: 13px;
  }
  .content {
    @include setFlexibleBox;
  }
  > hgroup {
    @include setFlexibleBox(vertical);
  }
  .content,
  > hgroup,
  > h1 {
    @include box-flex(1);
  }
  > hgroup {
    line-height: 16px;
  }
}



nav, footer {
  &#{$isNotToolbar} {
    @include box-align(stretch);
    ul, li {
      @include setFlexibleBox(horizontal, stretch);
    }
    a {
      @include setFlexibleBox(vertical, center);
      @include box-flex(1);
    }
    i {
      @include square(30px);
      @include border-radius(100%);
      display: block;
      background-color: red;
    }
  }
}


header {
  &#{$isNotVertical} {
    a {
      height:        $default-header-button-size;
      line-height:   $default-header-button-size;
      margin:      0 $default-button-spacing;
      padding:     0 $default-button-spacing;
    }
  }
  &#{$isVertical} {
    a {
      width:         $default-header-vertical-button-size;
      margin:        $default-header-vertical-button-spacing;
      padding:       $default-header-vertical-button-spacing;
    }
  }
}
nav#{$isNotTabbar},
footer#{$isNotTabbar} {
  a {
    height:        $default-navbar-button-size;
    line-height:   $default-navbar-button-size;
    margin:      0 $default-button-spacing;
    padding:     0 $default-button-spacing;
  }
}






.flex {
  @include box-flex(1);
}

.control-group {
  @include setFlexibleBox;
  @include box-flex(1);
  margin: 0 $default-button-spacing;
  a {
    @include box-flex(1);
    margin: 0 !important;
    &:first-child {
    }
    &:last-child {
    }
  }
  * + & {
    //width: 100%;
    @include box-flex(0);
  }
}



.control-group {
  //margin: 0 $default-button-spacing;
  a {
    &:first-child {
      @include border-radius(5px 0px 0px 5px);
    }
    &:last-child {
      @include border-radius(0px 5px 5px 0px);
    }
  }
  .content & {
  }
}



/*
header#{$isNotVertical},
nav#{$isToolbar},
footer#{$isToolbar} {
  a {
    font-size: 12px;
  }
  > a + a {
    margin-left: 0px;
  }
  input[type="search"] {
    @include box-flex(1);
    display: block;
  }
  input[type="search"] + a {
    margin-left: 0 !important;
  }
}







.list-divider {
  padding: 5px;
  font-size: 15px;
  background-color: grey;
  color: whiteSmoke;
  border-top: 2px solid #444;
  border-bottom: 1px solid #444;
}

.message {
  i {
    @include inline-block;
    width: 16px;
    height: 16px;
    margin: -2px 5px 0 0;
    // TOTO: delete, it's only for debug
    @include border-radius(100%);
    border: 3px solid #666;
  }
}



*/

