@import "../utilities";


nav {
  @include clearfix;
  line-height: $default-nav-size;
  a {
      @include ellipsis;
      padding: 0 10px;
      span {
        line-height: 14px;
        display: block;
        margin-top: 5px;
      }
      i {
        margin: 0 auto;
        display: block;
        height: 30px;
        width: 30px;
        background-color: $debugBgColor;
      }
    }
  ul {
    li {
      text-align: center;
      &:last-child {
      }
    }
  }
  .no-flexbox:not([class*="flexbox"]) & {
    width: 100%;
    display: table;
    ul {
      width: 100%;
      display: table-row;
      li {
        display: table-cell;
      }
    }
  }
  .flexbox-legacy &,
  .flexbox & {
    ul {
      @include setFlexiblebox;
      li {
        @include box-flex(1);
      }
    }
  }
}

           
nav[data-type="tabs-mixed"] {
  @include setFlexiblebox;
  font-size: 0;
  > h1,
  > hgroup, a, nav {
    @include box-flex(1);
    text-align: center;
  }
  h1 {
    font-size: 16px;
  }
  h2 {
    font-size: 13px;
  }
  h1,
  h2 {
    @include ellipsis;
  }
  > h1 {
    line-height: $default-nav-size;
  }
  > hgroup {
    padding: (($default-nav-size - 32px) / 2) 0;
  }
  a {
    font-size: 12px;
    background-color: $debugBgColor;
    @include setHeaderButton();
  }
  a + a {
    margin-left: 0px;
  }
}

// Vertical Nav

header[data-type="vertical"] {
  ul {
    @include display-box;
    @include box-orient(vertical);
    @include box-align(baseline);
    @include box-direction(reverse);
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      @include box-flex(1);
      margin: 0;
      padding: 0;
      a {
       margin: 0;
       padding: 0;
      }
    }
  }
} 

//Buttons group

.button-group {
  max-height: $default-nav-size;
  font-size: 0px;
  text-align: center;
  a {
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-size: 12px;
    &:first-child {
      margin-left: 7px !important;
    }
    &:last-child {
      margin-right: 7px !important;
    }
  }
  & + .button-group {
    a:first-child {
      margin-left: 0px !important;
    }
  }
}









