@import "../utilities";

nav {
  line-height: $default-nav-size;
  ul {
    height: $default-nav-size;
    li {
      text-align: center;
      &:last-child {
        border-right: 0;
      }
    }
    a {
      @include ellipsis;
      padding: 0 10px;
      display: block;
    }
  }
  .no-flexbox:not([class*="flexbox"]) & {
    width: 100%;
    display: table;
    ul {
      width: 100%;
      display: table-row;
      li {
        display: table-cell;
      }
    }
  }
  .flexbox-legacy &,
  .flexbox & {
    ul {
      @include setFlexiblebox;
      li {
        @include box-flex(1);
      }
    }
  }
}
nav[data-type="tabs"] {
  line-height: 14px;
  ul {
    height: $default-tabbar-size;
  }
  a {
    padding-top: 3px;
    .icon {
      height: 30px;
    }
  }
}
nav[data-type="tabs-icon"] {
  ul {
    height: 35px;
  }
  a {
    padding-top: 3px;
    .icon {
      height: 30px;
    }
  }
}           
nav[data-type="mixed"] {
  line-height: 32px;
  ul {
    height: 35px;
    li {
      &:first-child {
        @include box-flex();
      }
      &:last-child {
        @include box-flex();
      }
      a {
        padding-top: 3px;
        .icon {
          height: 30px;
        }
      }
    }
  }
}

/*
$default-header-color: #383C47 !default;
$default-header-style: linear !default; 

@mixin header($color: $default-header-color, $style: $default-header-color) {
  @if $style == linear {
    @include background-image(linear-gradient(top, #eee, #ccc));
  }
  @else if $style == shiny {
    @include background-image(linear-gradient(top, #eee, #ccc));
  }
  @else if $style == radial {
    @include background-image(radiar-gradient(#eee, #333 100px));
  }
}

header {
  @include header($default-header-color, linear);
}
footer {
  @include header($default-header-color, linear);
}
*/






