@import "../utilities";

nav {
  ul {
    height: $default-nav-size;
    li {
      text-align: center;
      &:last-child {
        border-right: 0;
      }
    }
    a {
      @include ellipsis;
      line-height: $default-nav-size;
      padding: 0 10px;
      display: block;
    }
  }
  .no-flexbox:not([class*="flexbox"]) & {
    width: 100%;
    display: table;
    ul {
      width: 100%;
      display: table-row;
      li {
        display: table-cell;
      }
    }
  }
  .flexbox-legacy &,
  .flexbox & {
    ul {
      @include setFlexiblebox;
      li {
        @include box-flex(1);
      }
    }
  }
}
nav[data-type="tabs"] {
  ul {
    height: $default-tabbar-size;
  }
  a {
    height: $default-tabbar-size;
    .icon {
      margin-top: 3px;
      height: 30px;
    }
    .text {
      line-height: 17px;
    }
  }
}
nav[data-type="tabs-icon"] {
  ul {
    height: 44px;
  }
  a {
    height: 44px;
    .icon {
      margin-top: 3px;
      height: 30px;
    }
    .text {
      line-height: 17px;
    }
  }
}           










