%aside.onTop#aside-top
  %nav{'data-type' => 'toolbar'}
    %input
    %a 
      %i.icon-search

  %section
    %nav{'data-type' => 'tabbar'}
      %a
        %i.icon-picture
      %a.is-active 
        %i.icon-music
      %a 
        %i.icon-film
      %a 
        %i.icon-group
      %a 
        %i.icon-book