@import "variables";



@mixin linear-gradient($first-color, $last-color: false) {
	@if $last-color == false {
		$light-color: $first-color;
		$dark-color: darken($first-color, 10%);
		@include background(linear-gradient(
			$light-color,
			$dark-color
		));
	}
	@else {
		$light-color: $first-color;
		$dark-color: $last-color;
		@include background(linear-gradient(
			$light-color,
			$dark-color
		));
	}
}


//Buttons

@mixin botton-shine($color: #FFF) {
	$dark-color: rgba(darken($color, 100%),.8);
	$light-color: rgba($color,.1);
	@include box-shadow(
    0 -1px 0 0 $dark-color inset,
    0 -2px 0 0 $light-color inset
  );
}

@mixin button($color: $default-button-color, $style: linear, $type: radius) {
	padding: 10px;
	@include inline-block;
	text-align: center;
	vertical-align: middle; 
  	color: #FFF;
  	display: inline-block;

	@if $style == linear {
		@include linear-gradient(#B72A19);
	}
	@else if $style == shiny {
		@include linear-gradient(#B72A19);
		@include botton-shine;
	}
	@if $type == radius {
		@include border-radius(3px);
  		line-height: 8px;
	}
	@else if $type == full {
  		line-height: 24px;
	}
}











