@import "header";
@import "footer";

@mixin setHeight() {
	position: absolute;
	width: 100% !important;
	height: auto;
	top: 0px;
	bottom: 0px;
	//visibility: hidden;
	z-index: 0;
	
	header:not([data-type="extended"]) ~ & {
		top: $default-header-height;
	}
	header[data-type="extended"] ~ & {
		top: $default-header-extended;
	}
	footer:not([data-type="tabbar"]) ~ & {
		bottom: $default-footer-height;
	}
	footer[data-type="tabbar"] ~ & {
		bottom: $default-footer-tabbar;
	}
	
	/*
	&.current {
		visibility: visible;
		z-index: 1;
	}
	*/
}