$default-header-height: 44px !default;
$default-header-extended: 74px !default;
$default-header-spacing: 7px !default;
$default-button-type: spacing !default;

@mixin setHeader($height: $default-header-height, $padding: $default-header-spacing) {
	@include fixedPosition(top);
	height: $height;
	line-height: $height;
}

@mixin button($type: $default-button-type) {

	@if $type == spacing {
		$margin: $default-header-spacing;
		$height: $default-header-height - ($margin * 2);
		height: $height;
		margin: $margin;
		line-height: $height;
		padding: 0 10px;
		&.onleft  { margin-right: 0; }
		&.onright { margin-left:  0; }
	}
	@if $type == full {
		$height: $default-header-height;
		height: $height;
		line-height: $height;
		padding: 0 20px;
	}
	@include inline-block;
	outline: none;
	color: #fff;
	text-align: center; 
	text-decoration: none;
	
}
