@import "variables";


@mixin fixedPosition($position: $default-fixed-position, $size: $default-fixed-size) {
	position: absolute;
	display: block;
	#{$position}: 0;
	@if $position == top {
		width: 100%;
		height: $size;
		max-height: $size;
	}
	@else if $position == bottom {
		width: 100%;
		height: $size;
		max-height: $size;
	}
	@else if $position == left {
		width: $size;
		max-width: $size;
		height: 100%;
	}
	@else if $position == right {
		width: $size;
		max-width: $size;
		height: 100%;
	}
	@esle {
		width: 100%;
		height: 100%;
	}
}


@mixin setHeight() {
	position: absolute;
	width: 100% !important;
	height: auto;
	top: 0px;
	bottom: 0px;
	header:not([data-type="extended"]) ~ & {
		top: $default-header-size;
	}
	header[data-type="extended"] ~ & {
		top: $default-header-extended;
	}
	footer:not([data-type="tabbar"]) ~ & {
		bottom: $default-footer-size;
	}
	footer[data-type="tabbar"] ~ & {
		bottom: $default-tabbar-size;
	}
}