@import "coolstrap";

$debugBgColor:  rgba(0,0,0,.1);
$aDebugColor:   rgba(0,0,0,.7);

$avatarSize:    40px;
$avatarList:    url(https://si0.twimg.com/profile_images/1864119365/busty_office_milfs_3_front_twit_normal.jpg);
$imageArrow:    image-url('arrow-right.png');
$arrowSize:     34px;

$searchIcon: image-url('search-icon.png');


// Text
h1, h2, h3, h4, h5, h6, p {
  color: #555;
  margin-bottom: 1.4em      ;
}
h1{
  font-size: 23px;
}










ul[data-type="listview"] {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li, li > a {
    @include setFlexiblebox;
    > .content {
      padding: 10px;
    }
  }
  li {
    border-bottom: 1px solid $debugBgColor;
  }
  .content {
    @include box-flex(1);
  }
  .nested {
    @include setFlexiblebox;
  }
  .title:not(.nested),
  .title.nested .content {
    @include ellipsis;
    font-size: 20px;
  }
}
























// Text
h1, h2, h3, h4, h5, h6, p {
  color: #555;
  margin: 0;
  margin-bottom: 10px;
}
h1{
  font-size: 23px;
}











a {
  text-decoration: none;
  color: $aDebugColor;
  &:visited {
    color: $aDebugColor;
  }
}
.margin-zone {
  background-color: $debugBgColor;
  border: 1px solid $debugBgColor;
  margin: 10px;
  ul {
    margin: 0;
  }
  li:last-child {
    border-bottom: 0;
  }
}
.simple-items {
  h3 {
    padding: 0;
  }
}


.searchbar {
  background-color: $debugBgColor;
  padding: 10px;
  border-bottom: 1px solid $debugBgColor;
  position: relative;
    input {
      width: 100%;
      border: 0;
      padding: 3px 3px 3px 25px;
    }
    i {
      background: transparent $searchIcon no-repeat center center;
      width: 12px;
      height: 12px;
      position: absolute;
      top: 14px;
      left: 16px;
    }
}



//form elements
form {
  padding: 10px;
  input,
  textarea {
    border: 0;
    padding: 5px;
  }
  input[type="text"],
  input[type="search"],
  input[type="password"],
  input[type="url"],
  input[type="email"],
  input[type="number"],
  input[type="tel"],
  textarea,
  select {
    width: 100%;
  }
  input[type="checkbox"],
  input[type="radio"] {
    margin: 10px 10px 0 0;
    font-size: 18px;
  }
  select{
    font-size: 18px;
  }
}

//Pop ups

table.calendar {
  tr.month {
    text-align: center;
  }
}

ul.vertical-menu {
  margin: 10px;
  li {
    text-align: center;
  }
}

.dialog-menu {
  background-color: $debugBgColor;
  margin: 10px;
  padding: 10px 10px 25px 10px;
  text-align: center;
}



//Provisional

.padding {
  padding: 10px;
}







//Buttos
.button {
  background-color: $debugBgColor;
  display: inline-block;
  padding: 0 15px;
  vertical-align: middle;
  text-align: center;
}

//Button group

.button-group {
  display: inline-block;
  .button {
    float: left;
    border-right: 1px solid #888;
    &:hover {
      background-color: #333;
    }
    &:first-child {
    }
    &:last-child {
      border-right: 0;
    }
  }
}

//icono de prueba
  .icono {
    @include border-radius(100%);
    background-color: #ccc;
    display: block;
    height: 30px;
    width: 30px;
    margin: 0 auto;
  }
.icon {
      @include border-radius(100%);
      background-color: #ccc;
      display: block;
      height: 30px;
      width: 30px;
      margin: 0 auto;
    }




































