@import "coolstrap/structure/utilities/variables";
@import "coolstrap/structure/utilities/mixins";
@import "coolstrap/structure/utilities/animate";



//Lists  structural

ul[data-type="listview"] {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li, li > a {
    @include setFlexiblebox;
    > .content {
      padding: 10px;
    }
  }
  .content {
    @include box-flex(1);   
  }
  .nested {
    @include setFlexiblebox;
  }
  .title:not(.nested),
  .title.nested .content {
    @include ellipsis;
    font-size: 20px;
  }
  .title {
    margin-bottom: 10px;
  }
}

//List Debug

ul[data-type="listview"] {
  li {
    border-bottom: 1px solid $debugBgColor;
  }
}  


//Buttons Icons


nav:not([data-type]) {
  a>i {
    @include navIcon;
  }  
}
header,
nav[data-type="toolbar"] {
  a>i {
    @include toolIcon;
  }
}
footer,
nav[data-type="tabbar"] {
  a>i {
    @include tabIcon;
  }
}

nav a>i {
    border: 2px solid #888;
}



//Buttons


a.btn {
  //@include button;
}
a.big-btn {
  //@include button;
  height: 44px;
  margin: 11px 0;
  line-height: 25px;
}
//Debug 
a.btn, a.big-btn {
  i {
    height: 7px !important;
    width: 25px !important;
  }
}




//Dialog box

.dialog {
  padding: 11px;
  text-align: center;
  .content {
    padding: 11px 0;
  }
  .big-btn {
    margin: 0;
  }
  //debug
  background-color: $debugBgColor;
  border: 1px solid $debugBgColor;
}
























































