

@include initTransition;
@include initLayers;
@include initVisibility;
@include initUtilities;
@include initLayout;
@include initPositions;
@include initContainers;


$debugBgColor:  rgba(0,0,0,.1);

.onleft   { float: left; }
.onright  { float: right; }




nav {
  @include clearfix;
  ul {
    @include horizontal-list-container();
    @include display-box;
    @include box-orient(horizontal);
    @include box-align(stretch);
    background-color: $debugBgColor;

    height: 44px;
  
    li {
      @include box-flex(1);
      text-align: center;
    }
  }
}

