%aside.onLeft#aside-left
  %header
    %input{ :placeholder => 'Busquedas' }
  %section{ :class => 'scrollable' }
    %ul{"data-type" => "listview"}
      %li
        .aside
          .picture.small
        .content
          %h1 Don Francisco
      %li.list-divider Favoritos
      %li
        .aside
          %i.icon-bullhorn
        .content
          %h1 Ultimas noticias
      %li
        .aside
          %i.icon-comment-alt
        .content
          %h1 Mensajes
        .aside
          .badge 30 +
      %li
        .aside
          %i.icon-map-marker
        .content
          %h1 Cerca de ti
      %li
        .aside
          %i.icon-calendar
        .content
          %h1 Eventos
        .aside
          .badge 5
      %li
        .aside
          %i.icon-group
        .content
          %h1 Amigos
      %li.list-divider Aplicaciones
      %li
        .aside
          %i.icon-headphones
        .content
          %h1 Formspring
        .aside
          %i.icon-signin
      %li
        %a{"href" => "#twitter", "data-target" => "section"}
          .aside
            %i.icon-twitter
          .content
            %h1 Twitter
          .aside
            %i.icon-signin
      %li
        .aside
          %i.icon-google-plus
        .content
          %h1 Google +
        .aside
          %i.icon-signin
      %li
        .aside
          %i.icon-pinterest
        .content
          %h1 Pinterest
        .aside
          %i.icon-signin
      %li
        .aside
          %i.icon-github
        .content
          %h1 Github
        .aside
          %i.icon-signin