
@mixin setTransition($type: $coolstrap-transform-direction, $distance: $coolstrap-transform-distance) {
	@if $type == false {
		$default-translate-x : 0;
		$default-translate-y : 0;
	}
	@else if $type == left {
		$default-translate-x : $distance;
		$default-translate-y : 0;
	}
	@else if $type == right {
		$default-translate-x : -($distance);
		$default-translate-y : 0;
	}
	@else if $type == top {
		$default-translate-x : 0;
		$default-translate-y : $distance;
	}
	@else if $type == bottom {
		$default-translate-x : 0;
		$default-translate-y : -($distance);
	}
	$default-translate-z : 0;
	@include translate3d();
	@include single-transition();
}


// FIX ME: @Cristian: optimizar setTransition mixin
@mixin setTransform($type,$duration: $default-transition-duration) {
	-webkit-animation-duration: $duration;

	@if $type == bounceIn {
	    -webkit-animation-name: bounceIn;
	}
	@else if $type == bounceOut {
		-webkit-animation-name: bounceOut;
	}
}

@-webkit-keyframes bounceIn {
    0% {
        opacity: 0.3;
        -webkit-transform: scale(0);
    }

    100% {
    	opacity: 1;
        -webkit-transform: scale(1);
    }
}

@-webkit-keyframes bounceOut {
    0% {
        -webkit-transform: scale(1);
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(.3);
    }
}

