@mixin setFixedPosition(
	$position: $coolstrap-fixed-position,
	$size:     $coolstrap-fixed-size)
{
	@if $position == top {
		width: 100%;
		height: $size;
		max-height: $size;
	}
	@if $position == bottom {
		width: 100%;
		height: $size;
		max-height: $size;
	}
	@else if $position == left {
		width: $size;
		max-width: $size;
		height: 100%;
	}
	@else if $position == right {
		width: $size;
		max-width: $size;
		height: 100%;
	}
	position: absolute;
	#{$position}: 0;
}

@mixin setHeight() {
	position: absolute;
	width: 100% !important;
	height: auto;
	top: 0px;
	bottom: 0px;
}

@mixin setFlexibleBox(
	$orient:    $default-box-orient,
	$align:     $default-box-align,
	$pack:      $default-box-pack,
	$direction: $default-box-direction)
{
	@include display-box;
	@include box-orient($orient);
	@include box-align($align);
	@include box-pack($pack);
	@include box-direction($direction);
}

@mixin square($size) {
	width: $size;
	height: $size;
}