
$isActive:       '.active';
$isDisable:      '.disable';


$isNotType:      ':not([data-type])';

// Header
$isVertical:     '[data-type="vertical"]';
$isNotVertical:  ':not([data-type="vertical"])';
$isNotExtended:  ':not([data-type="extended"])';

// Tabbar (Nav & Footer, no have tag of this type default)
$isTabbar:       '[data-type="tabbar"]';
$isNotTabbar:    ':not([data-type="tabbar"])';

// Toolbar (Nav, Footer tag is Toolbar by default)
$isToolbar:      '[data-type="toolbar"]';
$isNotToolbar:   ':not([data-type="toolbar"])';

// Navbar (Footer, Nav tag is Navbar by default)
$isNavbar:       '[data-type="navbar"]';
$isNotNavbar:    ':not([data-type="navbar"])';

// Header
$coolstrap-header-size:    44px !default;
$coolstrap-header-button:  30px !default;
$coolstrap-header-icon:    20px !default;

// Tabbar
// Not have button size, this have automatic size
$coolstrap-tabbar-size:    50px !default;
$coolstrap-tabbar-icon:    24px !default;

// Toolbar
$coolstrap-toolbar-size:   44px !default;
$coolstrap-toolbar-button: 30px !default;
$coolstrap-toolbar-icon:   16px !default;

// Navbar
// Not have button size, this have automatic size
$coolstrap-navbar-size:    34px !default;
$coolstrap-navbar-icon:    16px !default;









$isMain:         '[role="main"]';

// Dialog model
$isDialog:       '[role="dialog"]';
$isAction:       '[data-type="action"]';
$isAlert:        '[data-type="alert"]';
$isPopover:      '[data-type="popover"]';
$isModal:        '[data-type="modal"]';
$isNotModal:     ':not([data-type="modal"])';


$isTooltip:      '[role="tooltip"]';

// Popup section
$isPopup:        '[data-type="popup"]';
$isNotPopup:     ':not([data-type="popup"])';
















// Positions
$isOnTop:        '.onTop';
$isOnBottom:     '.onBottom';
$isOnLeft:       '.onLeft';
$isOnRight:      '.onRight';

// Alignment
$alignTopLeft:   '.onTop';
$isOnBottom:     '.onBottom';
$isOnLeft:       '.onLeft';
$isOnRight:      '.onRight';














// Fixed positions for layout
// used in header, nav, footer, section, article and aside
$coolstrap-fixed-position: false !default;
$coolstrap-fixed-size: 100% !default;

// Layers positions
$coolstrap-layer-dialog: 600 !default;
$coolstrap-layer-overalay: 500 !default;
$coolstrap-layer-popup: 400 !default;
$coolstrap-layer-front: 300 !default;
$coolstrap-layer-overalay-inner: 200 !default;
$coolstrap-layer-current: 100 !default;
$coolstrap-layer-back: 0 !default;

// Main transition for show aside
$coolstrap-transform-direction: false !default;
$coolstrap-transform-distance: 0 !default;




// Landscape Header
$coolstrap-header-landscape-size: 32px !default;
$coolstrap-header-landscape-button: 24px !default;

// Vertical Header
$coolstrap-header-vertical-size: 50px !default;
$coolstrap-header-vertical-button: 40px !default;
$coolstrap-header-vertical-spacing: 5px !default;
$coolstrap-header-vertical-icon: 30px !default;




// Aside
$coolstrap-aside-left-size: 276px !default;
$coolstrap-aside-right-size: 276px !default;
$coolstrap-aside-top-size: 99px !default;
$coolstrap-aside-bottom-size: 300px !default;









// Global Dialog
$coolstrap-dialog-maxheight: 400px !default;
$coolstrap-dialog-maxwidth: 300px !default;

// Action Sheet Dialog
$coolstrap-action-spacing: 20px !default;
$coolstrap-action-button: 40px !default;

// Alert Dialog
$coolstrap-alert-size: 280px !default;
$coolstrap-alert-spacing: 10px !default;
$coolstrap-alert-button: 30px !default;

// Modal Dialog
$coolstrap-modal-spacing: 20px !default;

// Popover Dialog
$coolstrap-popover-arrow: 10px !default;
$coolstrap-popover-border: 4px !default;






$coolstrap-interface-spacing: 7px !default;
$coolstrap-content-spacing: 10px !default;





// Listview
$coolstrap-listview-spacing: 10px !default;


// Badges
$coolstrap-badge-spacing: 3px 5px !default;














// Compass Animation
$default-transition-property : transform;
$default-transition-duration : 250ms;
$default-transition-function : ease-out;
$default-transition-delay    : false;

// Compass box
// Box orientation [ horizontal | vertical | inline-axis | block-axis | inherit ]
// Box align [ start | end | center | baseline | stretch ]
// box pack [ start | end | center | justify ]
// box-direction [ normal | reverse | inherit ]
$default-box-flex      : 1;
$default-box-orient    : horizontal;
$default-box-align     : center;
$default-box-pack      : center;
$default-box-direction : normal;









