// Positions

$style-header-color:               #383C47 !default;

$style-shadow-color:               rgba(#000,.3);
$style-highlight-color:            rgba(#FFF,.1);
$style-border-color:               rgba(#000,.3);
$style-textshadow-light:            0 -1px 0 rgba(#000,.2);
$style-textshadow-dark:             0  1px 0 rgba(#FFF,.6);


// Outer Shadows
$style-outershadow-solid:           0px  0px 0px 1px $style-shadow-color;
$style-outershadow-solid-top:       0px -1px 0px 0px $style-shadow-color;
$style-outershadow-solid-bottom:    0px  1px 0px 0px $style-shadow-color;

$style-outershadow-blur:            0px  0px 2px 1px $style-shadow-color;
$style-outershadow-blur-top:        0px -1px 2px 0px $style-shadow-color;
$style-outershadow-blur-bottom:     0px  1px 2px 0px $style-shadow-color;

// Inner Shadows
$style-innershadow-solid:           0px  0px 0px 1px $style-shadow-color inset;
$style-innershadow-solid-top:       0px  1px 0px 0px $style-shadow-color inset;
$style-innershadow-solid-bottom:    0px -1px 0px 0px $style-shadow-color inset;

$style-innershadow-blur:            0px  0px 2px 1px $style-shadow-color inset;
$style-innershadow-blur-top:        0px  1px 2px 0px $style-shadow-color inset;
$style-innershadow-blur-bottom:     0px -1px 2px 0px $style-shadow-color inset;
$style-innershadow-blur-left:      -2px  0px 2px -1px $style-shadow-color inset;
$style-innershadow-blur-right:      2px  0px 2px -1px $style-shadow-color inset;

$style-innershadow-glow:            0px  0px 5px 1px $style-shadow-color inset;
$style-innershadow-glow-top:        0px  2px 5px 0px $style-shadow-color inset;
$style-innershadow-glow-bottom:     0px -1px 5px 0px $style-shadow-color inset;



// Outer Highlight
$style-outerhighlight-solid:        0px  0px 0px 1px $style-highlight-color;
$style-outerhighlight-solid-top:    0px -1px 0px 0px $style-highlight-color;
$style-outerhighlight-solid-bottom: 0px  1px 0px 0px $style-highlight-color;

$style-outerhighlight-blur:         0px  0px 2px 1px $style-highlight-color;
$style-outerhighlight-blur-top:     0px -1px 2px 0px $style-highlight-color;
$style-outerhighlight-blur-bottom:  0px  1px 2px 0px $style-highlight-color;

// Inner Highlight
$style-innerhighlight-solid:        0px  0px 0px 1px $style-highlight-color inset;
$style-innerhighlight-solid-top:    0px  1px 0px 0px $style-highlight-color inset;
$style-innerhighlight-solid-bottom: 0px -1px 0px 0px $style-highlight-color inset;

$style-innerhighlight-blur:         0px  0px 2px 1px $style-highlight-color inset;
$style-innerhighlight-blur-top:     0px  1px 2px 0px $style-highlight-color inset;
$style-innerhighlight-blur-bottom:  0px -1px 2px 0px $style-highlight-color inset;


$style-lineargradient-default:      linear-gradient(rgba(#000,.0),rgba(#000,.2));
$style-lineargradient-shiny:        linear-gradient(rgba(#FFF,.15),rgba(#FFF,.1) 50%,rgba(#FFF,.0) 50%,rgba(#000,.1));
$style-lineargradient-glass:        linear-gradient(rgba(#FFF,.05),rgba(#000,.1) 40%,rgba(#000,.0) 70%,rgba(#FFF,.05));












