%ul.inset{"data-type" => "listview"}

  %li.list-divider 1. Title and description widht avatar
  %li
    .aside.up
      .picture
    .content
      %h1 First Item
      %p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Sed posuere consectetur est at lobortis. 
 


  %li.list-divider 2. Title and description with arrow and avatar   
  %li
    .aside.up
      .picture
    .content
      %h1 First Item
      %p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Sed posuere consectetur est at lobortis. 
    .aside
      %i.icon-chevron-right
 


  %li.list-divider 3. Title and description with meta and avatar   
  %li
    .aside.up
      .picture
    .content
      .nested
        %h1 First Item
        .aside 4 days ago
      %p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Sed posuere consectetur est at lobortis.
  


  %li.list-divider 4. Title and description with meta, arrow and avatar 1
  %li
    .aside.up
      .picture
    .content
      .nested
        %h1 First Item
        .aside 4 days ago
      %p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Sed posuere consectetur est at lobortis.
    .aside
      %i.icon-chevron-right
 

     
  %li.list-divider 5. Title and description with meta, arrow and avatar 2
  %li 
    .aside.up
      .picture
    .content
      .nested
        %h1 Firs Item
        .aside 12:00am
      .nested
        %p Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. 
        .aside
          %i.icon-chevron-right
 


  %li.list-divider 6. Title and description with meta, counter, arrow and avatar
  %li
    .aside.up
      .picture
    .content
      .nested
        %h1 First Item
        .aside 4 days ago
      %p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Sed posuere consectetur est at lobortis.
    .aside
      %span.badge 4     
      %i.icon-chevron-right
 

  
  %li.list-divider 6. Title and description with double meta, arrow and avatar
  %li
    .aside.up
      .picture
    .content
      .nested
        %h1
          Jason Newsted
        .aside
          Facebook friend
      .nested
        %p
          Bass Guitar
        .aside
          1st/June/2012
    .aside
      %i.icon-chevron-right
      
  %li
    .aside.up
      .picture
    .content
      .nested
        %h1
          Jason Newsted
        .aside
          Facebook friend
      .nested
        %p
          Bass Guitar
        .aside
          1st/June/2012
    .aside.vertical
      %span.badge 24
      %span.badge 213
    .aside  
      %i.icon-chevron-right







