%ul.inset{"data-type" => "listview"}
  %li.list-divider 1. Simple list one line - All inside

  %li
    .content
      .title Abraham
  %li
    .content
      .title
        First Item.
    .aside
      %i
  %li
    .content
      .title
        First Item.
    .aside
      %span 4m ago
      %i
  %li
    .content
      .title
        Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla.
    .aside
      %span.badge 3
      %i
  %li
    .aside.stretch-pic
      .picture
    .content
      .title
        Fourth Item.
    .aside
      %span.badge 3
      %i
  %li
    .aside
      .picture
    .content
      .title
        Fourth Item.
    .aside
      %span.badge 3
      %i

  %li
    .aside
      %span.badge 3
    .content
      .title
        Rit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla.
    .aside.stretch-pic
      .picture
    .aside
      %i