@import "../utilities/variables";


// Layers
aside,
section,
article {
  z-index: $default-layer-back;
  &.current {
    z-index: $default-layer-current;
  }
}
header, 
footer,
section > nav,
div[role="main"] {
  z-index: $default-layer-front;
}


// Visibility
aside,
section,
article {
  -webkit-backface-visibility: hidden;
  visibility: hidden;
  &.current {
    visibility: visible;
  }
}