
// Layers
aside,
section#{$isNotPopup},
article {
  z-index: $default-layer-back;
  &.current {
    z-index: $default-layer-current;
  }
}

section#{$isPopup} {
  z-index: $default-layer-back;
  &.current {
    z-index: $default-layer-popup;
  }
}

.overlay {
  z-index: $default-layer-overalay;
  &.inner {
    z-index: $default-layer-overalay-inner;
  }
}


div#{$isDialog} {
  z-index: $default-layer-dialog;
}


header, 
footer,
section > nav,
div#{$isMain} {
  z-index: $default-layer-front;
}


// Visibility
aside,
section,
article,
div#{$isModal} {
  -webkit-backface-visibility: hidden;
  visibility: hidden;
}

section.current, 
aside.current {
  visibility: visible;
  article.current {
    visibility: visible;
  }
}



