@import "../utilities/variables";
@import "../utilities/mixins";

.onleft   { float: left; }
.onright  { float: right; }

div#{$isMain},
section,
article,
.overlay {
  @include setHeight();
}

article {
  overflow: hidden;
}

section#{$isNotPopup},
article {
  header#{$isVertical} ~ &     { left: $default-header-vertical-size; bottom: 0; }
  header#{$isExtended} ~ &     { top: $default-header-extended-size; }
  header#{$isNormal} ~ &       { top: $default-header-size; }
  nav#{$isNotTabbar} ~ &       { top: $default-navbar-size; }
  nav#{$isTabbar} ~ &          { top: $default-tabbar-size; }
  footer#{$isNotTabbar} ~ &    { bottom: $default-navbar-size; }
  footer#{$isTabbar} ~ &       { bottom: $default-tabbar-size; }
}

div#{$isMain},
section,
article,
header,
footer,
nav {
  @include box-sizing(content-box);
}

article header,
article nav,
article footer {
  position: relative !important;
}

.scroller {
  @include clearfix;
  .inset {
    margin: $default-content-spacing;
  }
}
