= content_for :title do
  Popup demo

= content_for :principal do
  %div{:role => "main"}

    %header
      %a Volver
      %hgroup
        %h1 COOLSTRAP
        %h2 Pop up demo
      %a Entrar

    %section#demo
      %article#dialogs
        .scroller
          %p Curabitur blandit tempus porttitor. Aenean lacinia bibendum nulla sed consectetur. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod.
          %ul{"data-type" => "listview"}
            %li
              %a{"href" => "#mymodal", "data-target" => "dialog"}
                Open dialog type [modal]
            %li
              %a{"href" => "#myalert", "data-target" => "dialog"}
                Open dialog type [alert]
            %li
              %a{"href" => "#myaction", "data-target" => "dialog"}
                Open dialog type [action]
            %li
              %a{"href" => "#myaction2", "data-target" => "dialog"}
                Open another dialog type [action]
            %li
              %a{"href" => "#myaction3", "data-target" => "dialog"}
                even more, open dialog type [action]
            %li
              .content
                %a{"href" => "#mypopover", "data-target" => "dialog", "data-placement" => "onbottom"}
                  Open dialog type popover on bottom
                %br
                %a{"href" => "#mypopover", "data-target" => "dialog", "data-placement" => "ontop"}
                  Open dialog type popover on top
                %br
                %a{"href" => "#mypopover", "data-target" => "dialog", "data-placement" => "onright"}
                  Open dialog type popover on right

    %div#mymodal{:role => "dialog", "data-type" => "modal", "data-transition" => "slideup"}
      %a.close{"href" => "#mymodal", "data-target" => "close"}
        x
      %h1 Cras mattis consectetur purus sit amet fermentumm agnis dis parturient mo.

    %div#myalert{:role => "dialog", "data-type" => "alert"}
      %h1 Cras mattis consectetur purus sit amet fermentumm agnis dis parturient mo.
      %input{:type => "search", :name => "txt"}
      .button-group
        %a Ullamcorper
        %a.close{"href" => "#myalert", "data-target" => "close"}
          Close

    %div#myaction{:role => "dialog", "data-type" => "action"}
      %h1 Cras mattis consectetur purus sit amet fermentumm agnis dis parturient mo.
      .button-group
        %a Ullamcorper Ridiculus
        %a.close{"href" => "#myaction", "data-target" => "close"}
          Close

    %div#myaction2{:role => "dialog", "data-type" => "action"}
      %h1 Cras mattis consectetur purus sit amet fermentumm agnis dis parturient mo.
      %a Ullamcorper Ridiculus
      %a.close{"href" => "#myaction2", "data-target" => "close"}
        Close

    %div#myaction3{:role => "dialog", "data-type" => "action"}
      %h1 Cras mattis consectetur purus sit amet fermentumm agnis dis parturient mo.
      .button-group
        %a Ullamcorper 
        %a Tristique
      %p Cras mattis consectetur purus sit amet fermentumm agnis dis parturient mo.
      .button-group.alignVertical
        %a Ullamcorper Ridiculus
        %a Tristique Lorem
        %a.close{"href" => "#myaction3", "data-target" => "close"}
          Close
    %div#mypopover{:role => "dialog", "data-type" => "popover"}
      %ul.inset{"data-type" => "listview"}
        %li Donec id elit non 
        %li Donec id el
        %li Donec
        %li 
          %a.close{"href" => "#mypopover", "data-target" => "close"}
            Close

= content_for :application_js do  
  %script{:src => "app/app.js", :type=> "text/javascript"}
