= content_for :title do
	Popup demo

= content_for :principal do

	%div{"role" => "main"}

		%header
			%a Volver
			%hgroup
				%h1 COOLSTRAP
				%h2 Pop up demo
			%a Entrar

		-#%section.current{"data-type" => "popup"}
		%section.current

			%header
				%hgroup
					%h1 COOLSTRAP
					%h2 Pop up
				%a Cerrar

			%div{"data-type" => "modal"}

			%article.current{:id => "demo"}
				.scroller
					%p Curabitur blandit tempus porttitor. Aenean lacinia bibendum nulla sed consectetur. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod.

					

	%aside{"data-type" => "onLeft"}

	%aside{"data-type" => "onRight"}

	%aside{"data-type" => "onTop"}

	%aside{"data-type" => "onBottom"}

= content_for :application_js do  
	%script{:src => "app/app.js", :type=> "text/javascript"}
