%aside.onRight#aside-right
  %header
    %h1 On Right  
  
  = section(:class=>'scrollable') do
    = list_view do
      %li
        %a{"href" => "#mymodal", "data-target" => "dialog"}
          .content Open dialog type [modal]
          %i.icon-play-circle