= content_for :principal do

	%section{"data-type" => "global"}
		
		%header{"data-position" => "left"}
			%ul
				%li
					%a{:href => "#"}
						.icon
				%li
					%a{:href => "#"}
						.icon
				%li
					%a{:href => "#"}
						.icon
				%li
					%a{:href => "#"}
						.icon
				%li
					%a{:href => "#"}
						.icon
			
		%section{:id => "home", :class => "current"}
			
			

			%article{:id => "demo", :class => "current"}
				
				.scroller
					

				

