@import "variables";


@mixin fixedPosition($position: $default-fixed-position, $size: $default-fixed-size) {
	@if $position == top {
		width: 100%;
		height: $size;
		max-height: $size;
	}
	@else if $position == bottom {
		width: 100%;
		height: $size;
		max-height: $size;
	}
	@else if $position == left {
		width: $size;
		max-width: $size;
		height: 100%;
	}
	@else if $position == right {
		width: $size;
		max-width: $size;
		height: 100%;
	}
	@else {
		width: 100%;
		height: 100%;
	}
	div[role="main"] > &,
	section > & {
		position: absolute;
		#{$position}: 0;
	}
	//display: block;
}

@mixin setHeight() {
	position: absolute;
	width: 100% !important;
	height: auto;
	top: 0px;
	bottom: 0px;
}

@mixin setFlexiblebox($orient: $default-box-orient) {
	@include display-box;
  @include box-orient($orient);
  @include box-align(stretch);
  @include box-direction(normal);
}





