$debugBgColor:  rgba(0,0,0,.05);


// Fixed positions
$default-fixed-position: false !default;
$default-fixed-size: 100% !default;

// Layers positions
$default-layer-front: 3 !default;
$default-layer-overalay: 2 !default;
$default-layer-current: 1 !default;
$default-layer-back: 0 !default;

// Transition for aside and backface
$default-transition-type: false !default;
$default-transform-distance: 0 !default;


// Header
$default-header-size: 44px !default;
$default-header-button-size: 30px !default;
$default-header-icon-size: 26px !default;

// Nav, Footer and Toolbar
$default-nav-size: 44px !default;
$default-nav-button-size: 30px !default;
$default-nav-icon-size: 20px !default;


$default-button-spacing: 7px !default;

// Tabbar
$default-tabbar-size: 60px !default;
$default-tabbar-button-size: 50px !default;
$default-tabbar-button-spacing: 5px !default;
$default-tabbar-icon-size: 30px !default;




$default-headerV-size: 50px !default;
$default-headerV-button-size: 40px !default;
$default-headerV-button-spacing: 5px !default;
$default-headerV-icon-size: 30px !default;


$default-headerE-size: $default-header-size + $default-nav-size !default;
$default-headerL-size: 30px !default;


$default-navicon-size: 26px !default;
$default-toolicon-size: 26px !default;
$default-tabicon-size: 30px !default;


// Aside
$default-aside-left-size: 276px !default;
$default-aside-right-size: 276px !default;
$default-aside-top-size: 300px !default;
$default-aside-bottom-size: 300px !default;




// Compass Animation
$default-transition-property : transform;
$default-transition-duration : 250ms;
$default-transition-function : false;
$default-transition-delay    : false;

// Compass box
// Box orientation [ horizontal | vertical | inline-axis | block-axis | inherit ]
// Box align [ start | end | center | baseline | stretch ]
// box pack [ start | end | center | justify ]
// box-direction [ normal | reverse | inherit ]
$default-box-flex: 1;
$default-box-orient: horizontal;
$default-box-align: center;
$default-box-pack: center;
$default-box-direction: normal;



