$debugBgColor:  rgba(0,0,0,.1);


// Positions

$default-fixed-position: false !default;
$default-fixed-size: 100% !default;


// Header and navbar

$default-nav-size: 44px !default;
$default-tabs-size: 50px !default;

$default-header-size: 44px !default;
$default-header-spacing: 7px !default;

$default-header-extended-size: $default-header-size + $default-nav-size !default;

$default-footer-size: 44px;
$default-footer-spacing: 7px !default;

$default-tabbar-size: 50px;
$default-tabbar-spacing: 7px !default;


// Aside

$default-aside-left-size: 276px !default;
$default-aside-right-size: 276px !default;
$default-aside-top-size: 300px !default;
$default-aside-bottom-size: 300px !default;


// Buttons

$default-button-type: spacing !default;


// Transition for aside and backface

$default-transition-type: false !default;
$default-transform-distance: 0 !default;



// Positions

$default-position-front: 3 !default;
$default-position-overalay: 2 !default;
$default-position-current: 1 !default;
$default-position-back: 0 !default;
