@import "utilities/variables";

// DEBUG ////////////////////////////////////////////////////////////////
// * { background-color: $debugBgColor; }
/*	
div[role="main"] > header {
	background-color: #ccc;
	
	a + a {
    background-color: red;
  }
}
section > header {
	background-color: #EEE;
}
article {
	background-color: #ddd;
}
footer {
	background-color: #aaa;
}
header,
article,
footer,
nav,
//li,
ssss {
	//box-shadow: 0 0 0 1px rgba(0,0,0,.2) inset;
	box-shadow: 0 1px 0 0 rgba(0,0,0,.2) inset;
}
*/

header[data-type="vertical"] a {
	-webkit-transform: rotate(-90deg);
	float: none;
	padding: 0px;	
	margin: 0px;
}



header:not([data-type="vertical"]),
section > nav,
article nav,
footer {
	a {
    background-color: $debugBgColor;
	}
  i {
  }
}

// DEBUG ////////////////////////////////////////////////////////////////
