/**
 * Layer sistem for general layout and components
 *
 * General: @main, @aside, @section and @article
 * Bars: @header, @nav and @footer
 * Misc: @dialog and @overlay
 *
 * @author Cristian Ferrari <cristianferrarig@gmail.com> || @energettico
 */


// Layers
aside,
section#{$isNotPopup},
article {
  z-index: $coolstrap-layer-back;
  &.current {
    z-index: $coolstrap-layer-current;
  }
}

section#{$isPopup} {
  z-index: $coolstrap-layer-back;
  &.current {
    z-index: $coolstrap-layer-popup;
  }
}

header,
footer,
section > nav,
div#{$isMain} {
  z-index: $coolstrap-layer-front;
}

div#{$isDialog} {
  z-index: $coolstrap-layer-dialog;
}

.overlay {
  z-index: $coolstrap-layer-overalay;
  &.inner {
    z-index: $coolstrap-layer-overalay-inner;
  }
}