/**
 * Layout structure
 *
 * @main, @aside, @section and @article
 *
 * @author Cristian Ferrari <cristianferrarig@gmail.com> || @energettico
 */


//FIXME: @Cristian: quita clases .onleft y .onright de este lugar
.onleft   { float: left; }
.onright  { float: right; }

body {
  overflow: hidden;
}

div#{$isMain},
section,
article,
.overlay {
  @include setHeight;
}

div#{$isMain} {
  overflow: hidden;
}

section#{$isNotPopup},
article {
  header#{$isNotType} ~ &      { top:  $coolstrap-header-size; }

  nav#{$isNotType} ~ &,
  nav#{$isNavbar} ~ &          { top:  $coolstrap-navbar-size; }
  nav#{$isToolbar} ~ &         { top:  $coolstrap-toolbar-size; }
  nav#{$isTabbar} ~ &          { top:  $coolstrap-tabbar-size; }

  header + nav#{$isNotType} ~ &,
  header + nav#{$isNavbar} ~ &  { top: $coolstrap-header-size + $coolstrap-navbar-size; }
  header + nav#{$isToolbar} ~ & { top: $coolstrap-header-size + $coolstrap-toolbar-size; }
  header + nav#{$isTabbar} ~ &  { top: $coolstrap-header-size + $coolstrap-tabbar-size; }

  footer#{$isNotType} ~ &,
  footer#{$isToolbar} ~ &      { bottom: $coolstrap-toolbar-size; }
  footer#{$isTabbar} ~ &       { bottom: $coolstrap-tabbar-size; }
  footer#{$isNavbar} ~ &       { bottom: $coolstrap-navbar-size; }
}


div#{$isMain},
section,
article,
header,
footer,
nav {
  //@include box-sizing(content-box);
}


.scroll_container, .scrollable > * {
  @include clearfix;
  .inset {
    //@include clearfix;
    margin: $coolstrap-content-spacing;
  }
}

