= content_for :title do
  Coolstrapp Kitchen-sink

= content_for :principal do
  %div.a{"role" => "main"}
    %header
      %a{"href" => "#back", "data-target" => "section"} Volver
      %hgroup
        %h1 Rhybo
        %h2 Subtitulo
      %a Entrar
    %footer
      %h1 footer
    %section#home
      %article#lorem
        .scroller
          %p Curabitur blandit tempus porttitor. Aenean lacinia bibendum nulla sed consectetur. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod.

          %ul{"data-type" => "listview"}
            %li
              %a{"href" => "#home2", "data-target" => "section"}
                .content
                  .title go to home2 section
                .aside
                  %i
            %li
              %a{"href" => "#ipsum", "data-target" => "article"}
                .content
                  .title change to ipsum article
            
            %li
              %a{"href" => "#options", "data-target" => "aside"}
                .content
                  .title Options
            %li
              %a{"href" => "#colaborators", "data-target" => "aside"}
                .content
                  .title Colaborators
            %li
              %a{"href" => "#notifications", "data-target" => "aside"}
                .content
                  .title Notifications
            %li
              %a{"href" => "#configuration", "data-target" => "aside"}
                .content
                  .title Configuration                                    
      %article#ipsum
        %p IPSUM
        %ul{"data-type" => "listview"}
          %li
            %a{"href" => "#home2", "data-target" => "section"}
              .content
                .title go to home2 section
              .aside
                %i
          %li
            %a{"href" => "#lorem", "data-target" => "article"}
              .content
                .title change to lorem article
    %section#home2
      %article#demo2
        .scroller
          %p Curabitur blandit tempus porttitor. Aenean lacinia bibendum nulla  . Nullam quis risus eget urna mollis ornare vel eu leo. Donec sed odio dui. 

  %aside.onLeft#options
    Menu Options
  %aside.onRight#colaborators
    Colaborators
  %aside.onTop#notifications
    Notifications
  %aside.onBottom#configuration
    Configuration

= content_for :application_js do  
  %script{:src => "app/app.js", :type=> "text/javascript"}
  %script{:src => "app/events.js", :type=> "text/javascript"}
  
