

$basecolor: #F8F8F8;

div[role="main"] {
  //background-color: ;
}

/*
a {
  color: darken($basecolor,0);
  background-color: darken($basecolor,30);
  border: 1px solid darken($basecolor,40);
  font-weight: bold;
}
*/

article {
  background-color: white;
}
header,
nav {
  border-bottom: 1px solid darken($basecolor,30);
}


header {
  > a {

  }
}

[data-type="toolbar"] {
  > a {

  }
}

[data-type="tabbar"] {
  > a {

  }
}

nav:not([data-type]) {
  > a {

  }
}

footer:not([data-type]) {
  > a {

  }
}
//Header
header {
  @include background(linear-gradient(top, #129ADA, #0C7DBE));
  border-bottom: 1px solid #ddd;
  color: #fff;
  a {
    $button-color: darkn(#129ADA, 10%);
    $button-shadow: darken(#129ADA, 8%);
    @include background(linear-gradient(top, #129ADA, #0767A6));
    @include box-shadow(
      0 0 0 0 $button-shadow inset,
      0 0 0 1px rgba($button-shadow,.3) inset,
      0 1px 0 0 rgba(#FFF,.1));
    @include border-radius(3px);
    display: inline-block;
    padding: 7px 10px;
    margin: 0 7px;
    border: 1px solid #0765A6;
    color: #fff;
    &:hover {
      @include background(linear-gradient(top, #0767A6, #0B7ABA));
      color: #ddd;
    }
  }
  h2 {
    font-weight: normal;
  }
}

// Lists
ul {
  color: #666;
  li {
    border-bottom: 1px solid #ccc;
  .title {
    color: #444;
  }
  i {
    border: 1px solid #99f;
    background-color: #ccf;
  }
  .aside-left {
    i {
      display: block;
      width: 44px;
      height: 44px;
    }
  }
  .aside-right {
    color: #999;
    i {
      @include border-radius(100%);
      display: block;
      width: 16px;
      height: 16px;
    }
  }
  &:active {
    background-color: rgba(0,0,0,.1);
    border-bottom: 1px solid #bbb;
  }
  }
  .title:not(.nested),
  .title.nested .content {
    font-weight: bold;
    font-size: 14px;
  }
}
  


nav
  a {
    background-color: rgba(0,0,0,.5);
    height: 44px;
}












  
