@import "compass";
@import "../styles";

//Variables
$basecolor: #F8F8F8;


//Layout
article {
  background-color: rgba(255,255,255,1.0);
} 

//Text
h1 {
  font-size: 14px;
}
h2 {
  font-size: 1.08em;
}
article > h1:not(.list-divider),
article div > h1:not(.list-divider) {
  margin: 0.8em 0 0.95em 10px;
}
article > h2:not(.list-divider),
article div > h2:not(.list-divider){
  margin: 0.75em 0 0.75em 10px;
  color: #444;
}
article > p,
article div > p {
  padding: 0 10px;
  color: #4a4a4a;
}


//Buttons set
.interfaceButton {
  background-color: darken($basecolor,15);
  border: 1px solid darken($basecolor,20);
  font-weight: bold;
  color: #656A6C !important;
}


//Icons set
header, nav, footer {
  a:not(.onlyIcon) { @extend .interfaceButton; }
}

header {
  &#{$isNotVertical} {
    a:not(.onlyIcon) { }
  }
  &#{$isVertical} {
    a:not(.onlyIcon) { }
  }
  &#{$isNotVertical},
  &#{$isVertical} {
    a:not(.onlyIcon) { }
  }
}

nav,
footer {
  &#{$isToolbar} {
    a:not(.onlyIcon) { }
  }
  &#{$isNormal} {
    a:not(.onlyIcon) { }
  }
  &#{$isToolbar},
  &#{$isNormal} {
    a:not(.onlyIcon) { }
  }
}


// Debug icons
header, nav, footer {
  i {
    @include border-radius(100%);
    border: 4px solid darken($basecolor,30);
  }
}
   
header, nav {
  background-color: darken($basecolor,05);
  border-bottom: 1px solid darken($basecolor,15);
}


//Tools
.loader {
  @include border-radius(10px);
  background-color: darken($basecolor,20);
  .progress {
    @include border-radius(10px);
    background-color: darken($basecolor,10);
  }
}
article pre { margin: 12px 0 20px 10px; }

span.code, article pre {
  font-family: monospace, serif;
  color: #a7b;
}


//List styles
ul.inset {
  border: 1px solid #ccc;
  li:last-child  { border-bottom: 0; }
}

ul {
  color: #666;
  a {
    color: #666;
  }
  li {
    border-bottom: 1px solid #ccc;
    position: relative;
    .title { color: #555; }
    .picture {
      @include border-radius(4px);
      //background-image: url(https://si0.twimg.com/profile_images/2090403606/abf2c68e837d11e19e4a12313813ffc0_7_normal.jpg);
      width: 44px;
      height: 44px;
    }
    div {
      i {
        background-image: image-url('arrow-list.png');
        width: 16px;
        height: 16px;
      }
    }
    &:not(.list-divider):active {
      @include background(linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,.05)));
    }
  }
  .title:not(.nested),
  .title.nested .content {
    font-weight: bold;
    font-size: 14px;
  }
  .badge {
    @include border-radius(5px);
    background-color: darken($basecolor,20);
    font-size: 11px;
  }
  .nested .aside {
    color: #999;
  }
}
.list-divider {
  font-weight: bold;
}

//Dialogs
div[role="dialog"] {
  background-color: darken($basecolor,20);
  a {
    background-color: #333;
    color: #FFF;
  }
}
div#{$isModal} {
  .close {
    @include border-radius(20px);
    border: 2px solid #FFF;
    background: darken($basecolor,20);
  }
}

//Forms

form {
  .content {
    background-color: rgba(0,0,0,.1);
    border-bottom: 1px solid #ccc;
  }
  input,
  textarea,
  select {
    border: 1px solid #ccc;
  }
}

//Sliders

.slider {
  background-color: #ddd;
  border: 1px solid #aaa;
    a {
      background-color: #ccc;
      border: 1px solid #888;
    }
}

//Meetup Abraham
.picture{
  background-image: url(https://si0.twimg.com/profile_images/2090403606/abf2c68e837d11e19e4a12313813ffc0_7_normal.jpg);
}
.av1 {
  background-image: url(https://twimg0-a.akamaihd.net/profile_images/1119213182/profile_2_normal.png);
}
.av2 {
  background-image: url(https://twimg0-a.akamaihd.net/profile_images/2275488947/mja9jjnbp8lxekhk9sr8_normal.jpeg);
}
.av3 {
  background-image: url(https://twimg0-a.akamaihd.net/profile_images/2291820643/b5kn391e049po7v60ie6_normal.jpeg);
}
.av4 {
  background-image: url(https://twimg0-a.akamaihd.net/profile_images/2304597188/hkr9elnfi6hg946cq3yk_normal.jpeg);
}
.av5 {
  background-image: url(https://twimg0-a.akamaihd.net/profile_images/2230905969/IMG_20120519_001539_normal.jpg);
}
.av6 {
  background-image: url(https://twimg0-a.akamaihd.net/profile_images/2261762570/borisandtk_normal.png);
}
.av7 {
  background-image: url(https://twimg0-a.akamaihd.net/profile_images/2290471040/f1wpponaxjdgjtj6mo2x_normal.jpeg);
}
.av8 {
  background-image: url(https://twimg0-a.akamaihd.net/profile_images/2250759393/cats_normal.jpg);
}








