

$basecolor: #F8F8F8;

div[role="main"] {
  //background-color: ;
}


header, nav, footer {
  i {
    @include border-radius(100%);
    //background-color: darken($basecolor,30);
    border: 4px solid darken($basecolor,30);
  }
}


a:not(.onlyIcon) {
  background-color: darken($basecolor,10);
  border: 1px solid darken($basecolor,15);
  font-weight: bold;
  color: #656A6C !important;
}




header {
  @include background(linear-gradient(top, #129ADA, #0C7DBE));
  border-bottom: 1px solid #ddd;
  color: #fff;
  h2 {
    font-weight: normal;
  }
}

header,
nav {
  border-bottom: 1px solid darken($basecolor,20);
}


.loader {
  @include border-radius(10px);
  background-color: darken($basecolor,20);
  .progress {
    @include border-radius(10px);
    background-color: darken($basecolor,10);
  }
}



/*
article {
  background-color: rgba(0,0,0,.01);
}
*/

/*
header {
   a:not(.onlyIcon) {
    $button-color: darkn(#129ADA, 10%);
    $button-shadow: darken(#129ADA, 8%);
    @include background(linear-gradient(top, #129ADA, #0767A6));
    @include box-shadow(
      0 0 0 0 $button-shadow inset,
      0 0 0 1px rgba($button-shadow,.3) inset,
      0 1px 0 0 rgba(#FFF,.1));
    @include border-radius(3px);
    border: 1px solid #0765A6;
    color: #fff !important;
    &:hover {
      @include background(linear-gradient(top, #0767A6, #0B7ABA));
      color: #ddd;
    }
    &:visited {
      color: #fff;
    }
  }
}
*/
/*
footer {
  @include background(linear-gradient(top, #a7a7a7, #757575));
  border-top: 1px solid #999;
  a {
    @include text-shadow(0 -1px 0 #777);
    border-right: 1px solid #a7a7a7;
    color: #fff;
    &:last-child {
      border-right: 0;
    }
  }
}

ul {
  color: #666;
  li {
    border-bottom: 1px solid #ccc;
    position: relative;
    .title {
      color: #444;
    }
    i {
    }
    .aside-left {
      i {
       @include border-radius(5px);
        background-image: url(https://si0.twimg.com/profile_images/1608424533/twitter_normal.jpg);
        display: block;
        width: 44px;
        height: 44px;
        border: 1px solid #eee;
      }
    }
    .aside-right {
      color: #999;
      i {
        background-image: image-url('arrow-list.png');
        display: block;
        width: 16px;
        height: 16px;
      }
      i.center {
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -8px;
      }
    }
    .width-r {
        width: 40px;
      }
    &:active {
      @include background(linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,.05)));
    }
  }
  .title:not(.nested),
  .title.nested .content {
    font-weight: bold;
    font-size: 14px;
  }
}
*/












  
