@import "compass";
@import "../styles";
@import "../structure/utilities";

$theme-header-color: #009AFF;
$theme-header-color2: #225233;
//$theme-header-color: darken(#009AFF,10%);

$theme-tabbar-color: #2B3035;
$theme-toolbar-color: #B4BEC5;
$theme-border-radius: 5px;

/*
@mixin androidButton {
  margin: 0 !important;
  height: 100% !important;
  @include border-radius(0px);
  @include box-shadow(none);
  border-left: 1px solid rgba(#000,0.4);
}
*/















header, nav {
  > a:not(.onlyIcon),
  .control-group {
    @include button(default,rgba(#000,.2),rgba(#000,.4));
  }
  > a:not(.onlyIcon) {
    @include border-radius($theme-border-radius);
    &.is-active {
      background-color: rgba(#000,.5);
      @include background-clip(padding-box);
      @include box-shadow(
        $style-innershadow-glow-top,
        $style-innershadow-blur-top
      );
      border-color: rgba(#000,.7);
    }
  }
  .control-group {
    @include border-radius($theme-border-radius);
    a {
      @include border-radius(0);
      border-right: 1px solid rgba(#000,.3);
      font-weight: bold;  

      &:first-child { @include border-left-radius($theme-border-radius); }
      &:last-child  { @include border-right-radius($theme-border-radius); border-right-width: 0; }
      &.is-active {
        background-color: rgba(#000,.3);
        @include background-clip(padding-box);
        @include box-shadow(
          $style-innershadow-blur-left,
          $style-innershadow-blur-right
        );
      }
    }
  }
}

header {
  //@include bar($theme-header-color,$theme-header-color2,$style: linear);
  @include bar(glass, #222222);
  //background-color: $theme-header-color;
  //@include background-image(linear-gradient(top, rgba(#000,0), rgba(#000,.2))); 
  //@include box-shadow(0 1px 3px 0 rgba(#000,.3));

  font-weight: bold;
  color: #FFF;
}

nav#{$isToolbar} {
  @include bar(glass, $theme-toolbar-color);
  //background-color: $theme-toolbar-color;
  //@include background-image(linear-gradient(top, rgba(#000,0), rgba(#000,.2))); 
  //border-bottom: 1px solid rgba(#000,.4);

  input {
    @include border-radius(30px);
  }
}


footer#{$isTabbar} {
  background-color: $theme-tabbar-color;
  @include background-image(linear-gradient(top, rgba(#000,0), rgba(#000,.2))); 
  border-top: 1px solid #000;
  @include box-shadow(0 1px 0 0 rgba(#FFF,.1) inset);

  font-weight: bold;
  color: #FFF;
  
  /*

  a {
    color: #DDD;
    margin: 3px;
    i {
      @include border-radius(100px);
      border: 4px solid #DDD;
    }
    &.is-active {
      color: #333;
      background-color: #FFF;
      @include border-radius($theme-border-radius);
      @include background-image(linear-gradient(top, rgba(#000,.0), rgba(#000,.2))); 
      @include box-shadow(0 0 0 1px rgba(#FFF,.2) inset);
      i {
        border-color: #333;
      }
    }
  }
  */


  // Tabbar top
  a {
    color: #DDD;
    margin: -1px 5px 5px;
    padding-top: 6px;
    i {
      @include border-radius(100%);
      border: 4px solid #DDD;
    }
    &.is-active {
      color: #333;
      background-color: #FFF;
      @include background-image(linear-gradient(top, rgba(#000,0), rgba(#000,.2))); 
      @include border-bottom-radius($theme-border-radius);
      @include box-shadow(0 1px 0 0 rgba(#000,.2));
      i {
        border-color: #333;
      }
    }
  }
  

}









/*
header {
  @include background(linear-gradient(top, #129ADA, #0C7DBE)); 
  border-bottom: 1px solid #ddd;
  color: #fff;
  h2 {
    font-weight: normal;
  }
}

header {
   a:not(.onlyIcon) {
    $button-color: darkn(#129ADA, 10%);
    $button-shadow: darken(#129ADA, 8%);
    @include background(linear-gradient(top, #129ADA, #0767A6));
    @include box-shadow(
      0 0 0 0 $button-shadow inset,
      0 0 0 1px rgba($button-shadow,.3) inset,
      0 1px 0 0 rgba(#FFF,.1));
    @include border-radius(3px);
    border: 1px solid #0765A6;
    color: #fff !important;
    &:hover {
      @include background(linear-gradient(top, #0767A6, #0B7ABA));
      color: #ddd;
    }
    &:visited {
      color: #fff;
    }
  }
}

footer {
  @include background(linear-gradient(top, #a7a7a7, #757575));
  border-top: 1px solid #999;
  a {
    @include text-shadow(0 -1px 0 #777);
    border-right: 1px solid #a7a7a7;
    color: #fff;
    &:last-child {
      border-right: 0;
    }
  }
}

article {
  background-color: rgba(255,255,255,1.0);
}
*/
 