@import "compass";
$experimental-support-for-mozilla: false;
$experimental-support-for-opera: false;
$experimental-support-for-microsoft: false;
$experimental-support-for-khtml: false;
.srruc{top:1px;}
@import "coolstrap/structure/utilities";
@import "coolstrap/structure/layout";
@import "coolstrap/structure/components";