= content_for :principal do

	%section{"data-type" => "global"}
		
		%header
			%a{:href => "#", :class => "onleft", "data-target" => "aside", "data-icon" => "items"} asd
			%a{:href => "#", :class => "onright", "data-target" => "aside", "data-article" => "welcome"} Profiles
			
		%footer

		%section{:id => "home"}
			
			%article.current
				.scroller
					Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Curabitur blandit tempus porttitor. Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur


	%aside{:class => "onleft"}
		%section
			%header
			%article
			
		%section
			%header
			%article
			
		%section
			%header
			%article

	%aside{:class => "onright"}
		%section
			%header
			%article
		
		%section
			%header
			%article
		
		%section
			%header
			%article
