= content_for :principal do

	%div{"role" => "main"}
		
		%header
			%a{:href => "#", :class => "onleft", "data-target" => "aside", "data-icon" => "items"} asd
			%a{:href => "#", :class => "onright", "data-target" => "aside", "data-article" => "welcome"} Profiles
			
		%section{:id => "home", :class => "current"}

			
			

			%article{:id => "demo", :class => "current"}
				
				.scroller
					.searchbar
						%input{:type => "search", :value => ""}
						%i
					.mixin-test
						
					%ul{"data-type" => "listview"}
						%li
							.content
								.title
									Maecenas faucibus mollis interdum.
								.desc
									Maecenas faucibus mollis interdum maecenas sed diam eget.
							.aside-right
								aside right
					
					.searchbar
						%input{:type => "text", :value => "texto default"}
						%i

					%ul{"data-type" => "listview"}
						%li
							.content
								.title
									Maecenas faucibus mollis interdum. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.
								.desc
									Maecenas faucibus mollis interdum. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.
							.aside-right
								aside right

						%li
							.content
								.title.nested
									.content
										Maecenas faucibus mollis interdum. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.
									.aside-right
										you have 100000000 new coments in your dashboard
								.desc
									Maecenas faucibus mollis interdum. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.

						%li
							.content
								.title
									Maecenas faucibus mollis interdum. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.
								.desc.nested
									.content
										Cras justo odio, dapibus ac facilisis in, egestas eget quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
									.aside-right
										aside right

						%li
							.content
								Maecenas faucibus mollis interdum. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.

						%li
							.content
								.title
									Maecenas faucibus mollis interdum. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.
								.desc
									Cras justo odio, dapibus ac facilisis in, egestas eget quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.

					
							


		%footer{"data-type" => "tabbar"}
			%nav{"data-type" => "tabs"}
				%ul
					%li
						%a{:href => "#"}
							.icon
								.icono 
							.text tab1
					%li
						%a{:href => "#"} 
							.icon
								.icono 
							.text tab2
					%li
						%a{:href => "#"} 
							.icon
								.icono 
							.text tab13
					%li		
						%a{:href => "#"} 
							.icon
								.icono 
							.text tab4
					%li		
						%a{:href => "#"} 
							.icon
								.icono 
							.text tab5		

