= content_for :principal do

	%div{"role" => "main"}
		
		%header
			%a{:href => "#", :class => "onleft", "data-target" => "aside", "data-icon" => "items"} asd
			%a{:href => "#", :class => "onright", "data-target" => "aside", "data-article" => "welcome"} Profiles
			
		%section{:id => "home", :class => "current"}

			
			
			

			%article{:id => "demo", :class => "current"}
				
				.scroller
					%nav
						%ul
							%li
								%a{:href => "#"} nombre 1
							%li
								%a{:href => "#"} nombre 2
							%li
								%a{:href => "#"} nombre 3
							%li
								%a{:href => "#"} nombre 4
							%li
								%a{:href => "#"} nombre 5
					%nav{"data-type" => "tabs-icon"}
						%ul
							%li
								%a{:href => "#"}
									.icon
							%li
								%a{:href => "#"} 
									.icon
							%li
								%a{:href => "#"} 
									.icon
					%nav{"data-type" => "tabs-mixed"}
						%ul
							%li
								%a{:href => "#"} nombre 1
							%li
								Title Coolstrap 4 u
							%li
								%nav{"data-type" => "tabs-icon"}
									%ul
										%li
											%a{:href => "#"}
												.icon
										%li
											%a{:href => "#"} 
												.icon
										%li
											%a{:href => "#"} 
												.icon
					%nav{"data-type" => "tabs-mixed"}
						%ul
							%li
								%nav{"data-type" => "tabs-icon"}
									%ul
										%li
											%a{:href => "#"}
												.icon
										%li
											%a{:href => "#"} 
												.icon
										%li
											%a{:href => "#"} 
												.icon			
							%li
								Title Coolstrap 4 u
							%li
								%a{:href => "#"} nombre 1
												
					%nav{"data-type" => "tabs-mixed"}
						%ul
							%li
								%a{:href => "#"} 
									.icon
							%li
								Title Coolstrap 4 u
							%li
								%a{:href => "#"} 
									.icon
					
					%nav{"data-type" => "tabs-mixed"}	
						.button-group
							%a{:class => "button", :href => "#"} Left
							%a{:class => "button", :href => "#"} Center
							%a{:class => "button", :href => "#"} Right		
								

					
												
							


		%footer{"data-type" => "tabbar"}
			%nav{"data-type" => "tabs"}
				%ul
					%li
						%a{:href => "#"}
							.icon
								.icono 
							.text tab1
					%li
						%a{:href => "#"} 
							.icon
								.icono 
							.text tab2
					%li
						%a{:href => "#"} 
							.icon
								.icono 
							.text tab13
					%li		
						%a{:href => "#"} 
							.icon
								.icono 
							.text tab4
					%li		
						%a{:href => "#"} 
							.icon
								.icono 
							.text tab5		

