= content_for :principal do

	%div{"role" => "main"}
		
		%header
			%a{:href => "#", :class => "onleft", "data-target" => "aside", "data-icon" => "items"} asd
			%a{:href => "#", :class => "onright", "data-target" => "aside", "data-article" => "welcome"} Profiles
			
		%section{:id => "home", :class => "current"}

			
			
			

			%article{:id => "demo", :class => "current"}
				
				.scroller
					%nav
						%ul
							%li
								%a{:href => "#"} nombre 1
							%li
								%a{:href => "#"} nombre 2
							%li
								%a{:href => "#"} nombre 3
							%li
								%a{:href => "#"} nombre 4
							%li
								%a{:href => "#"} nombre 5

					%nav{"data-type" => "tabs-mixed"}
						%a left
						.content
							.button-group
								%a Left
								%a Center
								%a Right
						%a right	
					%nav 
						%a.onleft left
						%a.onright right	
					
						



					
												
							


		%footer{"data-type" => "tabbar"}
			%nav
				%ul
					%li
						%a{:href => "#"}
							%i
							%span tab1
					%li
						%a{:href => "#"} 
							%i
							%span tab2
					%li
						%a{:href => "#"} 
							%i
							%span tab13
					%li		
						%a{:href => "#"} 
							%i
							%span tab4
					%li		
						%a{:href => "#"} 
							%i
							%span tab5		

