@import "../utilities/variables";
@import "../utilities/mixins";

.onleft   { float: left; }
.onright  { float: right; }

div[role="main"] {
  @include setHeight();
}


section,
article {
  @include setHeight();

  footer[data-type="tabbar"] ~ & {
    bottom: $default-tabbar-size;
  }
  footer:not([data-type]) ~ & {
    bottom: $default-footer-size;
  }
  header[data-type="vertical"] ~ & {
    left: $default-header-size;
    bottom: 0;
  }
  header[data-type="extended"] ~ & {
    top: $default-header-extended-size;
  }
  header:not([data-type]) ~ & {
    top: $default-header-size;
  }
}

/*
header {
  a {
    background-color: $debugBgColor;
    @include setHeaderButton();
  }
}
*/
