@import "../utilities/variables";


// Layers
aside,
section,
article {
  z-index: $default-position-back;
  &.current {
    z-index: $default-position-current;
  }
}
header, 
footer,
section > nav,
div[role="main"] {
  z-index: $default-position-front;
}


// Visibility
aside,
section,
article {
  visibility: hidden;
  &.current {
    visibility: visible;
  }
}