%section#twitter
  
  %header
    %a{"href" => "#", "data-target" => "back"}
      %i.icon-arrow-left
    .flex
    %i.icon-twitter
    .flex
    %a{"href" => "#aside-right", "data-target" => "aside"}
      %i.icon-edit

  %footer{"data-type" => "tabbar"}
    %a.is-active
      %i.icon-home
      %span Inicio
    %a
      %i.icon-heart
      %span Conecta
    %a
      %i.icon-qrcode
      %span Descubre
    %a
      %i.icon-user
      %span Cuenta
    

  %article{ :id => 'second-page', :class => 'scrollable' }

    %ul.inset#twitterlist{"data-type" => "listview"}
      %li
        .aside.up
          .picture
        .content
          .nested
            %h1 Jorge Rodriguez <span>@j4rs</span>
            .meta 1 s
          .nested
            .content
              %p sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl.

      %li
        .aside.up
          .picture
        .content
          .nested
            %h1 Jorge Rodriguez <span>@j4rs</span>
            .meta 2 m
          .nested
            .content
              %p sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl. 

      %li
        .aside.up
          .picture
        .content
          .nested
            %h1 Jorge Rodriguez <span>@j4rs</span>
            .meta 14 m
          .nested
            .content
              %p sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl. 

      %li
        .aside.up
          .picture
        .content
          .nested
            %h1 Jorge Rodriguez <span>@j4rs</span>
            .meta 1 h
          .nested
            .content
              %p sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl. 

      %li
        .aside.up
          .picture
        .content
          .nested
            %h1 Jorge Rodriguez <span>@j4rs</span>
            .meta 3 h
          .nested
            .content
              %p sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl. 