= content_for :principal do

	%div{"data-type" => "main"}

		%section{"data-type" => "global"}
			%header
				%a{:href => "#", :class => "onleft", "data-target" => "aside", "data-icon" => "items"} Global header
				%a{:href => "#", :class => "onright", "data-target" => "aside", "data-article" => "welcome"} 
				
			%footer


		%aside{"data-position" => "left"}

		%aside{"data-position" => "right"}


	%aside{"data-type" => "backface", "data-position" => "top"}

	%aside{"data-type" => "backface", "data-position" => "bottom"}