= content_for :principal do

	%section{:id => "home"}

		/ FIXME: a;jdslg
		%header{"data-title" => "LungoJS Kitchen Sink"}
			%a{:href => "#", :class => "onleft", "data-target" => "aside", "data-icon" => "items"} asd
			%a{:href => "#", :class => "onright", "data-target" => "aside", "data-article" => "welcome"} Profiles

		%footer{"data-type" => "tabbar"}
			Footer
			
		%article.current
			Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Curabitur blandit tempus porttitor. Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur
