= content_for :principal do

	%div.a{"role" => "main"}

		-#%header{"data-type" => "extended"}
		-#%header{"data-type" => "vertical"}
		%header
			%a{:href => "#", :class => "onleft"} Global header
			%a{:href => "#", :class => "onright"} Aside

		%footer

		%section.current

			%header
				%a{:href => "#"} Global header
				%a{:href => "#"} Aside

			%footer

			%article.current


	%aside{"data-type" => "onLeft"}

	%aside{"data-type" => "onRight"}

	%aside{"data-type" => "onTop"}

	%aside{"data-type" => "onBottom"}