= content_for :principal do

	%div{"role" => "main"}

		%header{"data-type" => "extended"}
			%a{:href => "#", :class => "onleft"} Global header
			%a{:href => "#", :class => "onright"} Aside

		%footer

		%section.current

			%header
				%a{:href => "#"} Global header
				%a{:href => "#"} Aside

			%footer

			%article.current


	%aside{"data-position" => "left"}

	%aside{"data-position" => "right"}

	%aside{"data-position" => "top"}

	%aside{"data-position" => "bottom"}