= content_for :principal do

	%div.a{"role" => "main"}

		-#%header{"data-type" => "extended"}
		-#%header{"data-type" => "vertical"}
		
		-#%header
			%a dsgswrg
			%a dsgswrg
			%h1
				Titulo
			.button-group
				%a dsgswrg
				%a dsgswrg

		%header
			%a dsgswrg
			%h1	Titulo
			%a ew
			%a dsgswrg
			%a dsgswrg


		%footer

		%section.current

			%header
				%a{:href => "#"} Global header
				%a{:href => "#"} Aside

			%footer

			%article.current


	%aside{"data-type" => "onLeft"}

	%aside{"data-type" => "onRight"}

	%aside{"data-type" => "onTop"}

	%aside{"data-type" => "onBottom"}