%section#home

  %header
    %a{"href" => "#aside-left", "data-target" => "aside"}
      %i.icon-reorder
    %h1 Entrada (25)
    %a{"href" => "../../index.html"}
      %i.icon-home
    %a{"href" => "#aside-top", "data-target" => "aside"}
      %i.icon-search

  %footer{"data-type" => "toolbar"}
    %a.onlyIcon
      %i.icon-refresh
    .content
      %h2 Actualizado 26-06-12 20:17
    %a.onlyIcon
      %i.icon-edit

  %article{ :id => 'first-page', :class => 'scrollable' }
    %ul{ :id => 'mail', "data-type" => "listview"}
      %li
        .aside
          %i.icon-certificate
        .content
          .nested
            %h1 team@rhyboo.com
            .meta 12:00 am
          .nested
            .content
              %h2 Aenean eu leo quam. Pellentesque ornare
              %p sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl.
            .aside
              %i.icon-chevron-right
      %li
        .aside
          %i.icon-certificate
        .content
          .nested
            %h1 Abraham Barrera
            .meta 12:00 am
          .nested
            .content
              %h2 Cum sociis natoque penatibus et magnis
              %p sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl.
            .aside
              %i.icon-chevron-right
      %li
        .aside
          %i.icon-certificate
        .content
          .nested
            %h1 Felipe Funes
            .meta 12:00 am
          .nested
            .content
              %h2 Donec sed odio dui.
              %p sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl.
            .aside
              %i.icon-chevron-right
      %li
        .aside
          %i.icon-certificate
        .content
          .nested
            %h1 Jorge Alberto Rodriguez Suarez
            .meta 12:00 am
          .nested
            .content
              %h2 Sed posuere consectetur est at lobortis.
              %p sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl.
            .aside
              %i.icon-chevron-right