%ul{"data-type" => "listview"}

  %li.list-divider 1. Simple
  %li
    %h1 Gloria
  %li
    %h1 Monserrat
  %li
    %h1 Valeria 




  %li#divider1.list-divider 2. Simple with arrow        
  %li
    .content
      %p Curabitur blandit tempus porttitor.Curabitur blandit tempus porttitor.
    .aside
      %i.icon-chevron-right
  %li
    .content
      %p Second Item.
    .aside
      %i.icon-chevron-right
  %li
    .content
      %p Third Item.
    .aside
      %i.icon-chevron-right


  %li.list-divider 3. Simple with arrow meta and counters 
  %li
    .content
      %p Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac. 
    .aside
      %i.icon-chevron-right
  %li.is-active
    .content
      %p Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac. 
    .aside
      %i.icon-chevron-right
  %li
    .content
      %p Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac. 
    .aside
      %i.icon-chevron-right


  %li.list-divider 4. Simple with arrow meta and counters           
  %li.is-active
    .content
      %h1
        First Item. 
    .aside
      %span 4m ago
      %i.icon-chevron-right
  %li
    .content
      %h1
        Second Item. 
    .aside
      %span 2h ago
      %i.icon-chevron-right
  %li
    .content
      %h1.ellipsis
        This is a very long text to prove the great ellipsis implemented here.
    .aside
      %span.badge 66
      %i.icon-chevron-right
  %li
    .content
      %h1
        Second Item. 
    .aside
      %span.badge 3
      %i.icon-chevron-right
    

  %li.list-divider 5. Simple with strech picture.
  %li
    .aside.stretch
      .picture
    .content
      %h1
        First Item.
    .aside
      %span.badge 15
      %i.icon-chevron-right
  %li
    .aside.stretch
      .picture
    .content
      %h1
        Second Item.
    .aside
      %span.badge 0
      %i.icon-chevron-right
  %li
    .aside.stretch
      .picture
    .content
      %h1
        Thirtd Item.
    .aside
      %span.badge 1
      %i.icon-chevron-right 


  %li.list-divider 6. Simple with magin picture.           
  %li
    .aside
      .picture
    .content
      %h1
        First Item.
    .aside
      %span.badge 3
      %i.icon-chevron-right
  %li
    .aside
      .picture
    .content
      %h1
        Second Item.
    .aside
      %span.badge 23
      %i.icon-chevron-right
  %li
    .aside
      .picture
    .content
      %h1
        Third Item.
    .aside
      %span.badge 64
      %i.icon-chevron-right        


  %li.list-divider 7. Simple with diferent order.     
  %li
    .aside
      %span.badge 2
    .content
      %h1.ellipsis
        Rit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla.
    .aside.stretch
      .picture
    .aside
      %i.icon-chevron-right
  %li
    .aside
      %span.badge 7
    .content
      %h1.ellipsis
        Rit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla.
    .aside.stretch
      .picture
    .aside
      %i.icon-chevron-right
  %li
    .aside
      %span.badge 8
    .content
      %h1.ellipsis
        Rit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla.
    .aside.stretch
      .picture
    .aside
      %i.icon-chevron-right
              